.banner.banner--lk
	img.banner__img(src="assets/img/banner.jpg" alt="")

header.header.header--lk
	.container
		.header__top
			a.logo.header__logo(href="index.html")
				<object class="logo__object" data="assets/img/logo.svg" type="image/svg+xml"></object>
			.cities-menu.header__cities-menu
				button.link.cities-menu__btn
					| Алматы
					+icon('arrow_right', 'icon--primary cities-menu__btn-icon')

			a.link.header__count(href="#")  Магазины: 
				span.header__count-value 30

			form.search-form.header__search(autocomplete="off") 
				input.field.search-form__field(type="text" placeholder="Поиск по товарам")
				button.search-form__submit
					+icon('search', 'icon--primary search-form__submit-icon')

			button.callback-btn.header__callback-btn
				+icon('phone', 'icon--gray callback-btn__icon')
				span.callback-btn__text Перезвоните мне

			button.header__callback-mobile-btn
				+icon('phone-2', 'header__callback-mobile-icon')

			a.phone-link.header__phone(data-phone="+7 700 700 70 07")
				span.phone-link__value +7 700
				button.phone-link__show-btn показать номер

			.user-controls.header__user-controls
				button.icon-btn.user-controls__btn.user-controls__btn--profile(data-fancybox data-src="#modal-login")
					+icon('login', 'icon-btn__icon')
				a.icon-btn.user-controls__btn(href="#")
					+icon('sravnenie', 'icon-btn__icon')
				a.icon-btn.user-controls__btn(href="#")
					+icon('izbrannoe', 'icon-btn__icon')
					span.icon-btn__value 13
				a.icon-btn.user-controls__btn(href="#")
					+icon('cart', 'icon-btn__icon')
					span.icon-btn__value 2

			button.header__menu-btn.js-open-mobile-menu
				.icon-menu.header__catalog-icon

		.header__bottom
			button.btn.btn--catalog.header__catalog-btn.js-open-catalog-menu
				span.icon-menu.btn__icon
				| Все товары

			nav.menu.header__menu
				ul.menu__list
					li.menu__item
						a.link.menu__link(href="#") Матрасы
					li.menu__item
						a.link.menu__link(href="#") Диваны и кресла
					li.menu__item
						a.link.menu__link(href="#") Подушки
					li.menu__item
						a.link.menu__link(href="#") Кровати
					li.menu__item
						a.link.menu__link(href="#") Одеяла
					li.menu__item
						a.link.menu__link(href="#") Детские товары
					li.menu__item
						a.link.menu__link(href="#") Для дома
					li.menu__item
						a.link.menu__link.menu__link--special(href="#")
							+icon('akcii', 'icon--second menu__item-icon')
							| Акции

			form.search-form.header__mobile-search(autocomplete="off") 
				input.field.search-form__field(type="text" placeholder="Найти товар или категорию...")
				button.search-form__submit
					+icon('search', 'icon--dark search-form__submit-icon')