- 
    var cards_list = [
        {
            id: 1,
            category: 'divany',
            name: 'Прямой диван Talo',
            img_index: '1',
            price: '329 400',
            price_old: '658 800',
            label: { type: 'new', text: 'Новинка' },
            discount: '50',
            colors: [ '#877669', '#3f935d', '#75a0a7', '#78622f', '#212532'],
            colors_count: 7,
            status: { type: 'have', text: 'В наличии' },
        },
        {
            id: 2,
            category: 'divany',
            name: 'Прямой диван Loko',
            img_index: '2',
            price: '655 232',
            price_old: '1 191 300',
            label: { type: 'week', text: 'Товар недели' },
            discount: '55',
            colors: [ '#a99f91', '#3f5259', '#21403e', '#81726e', '#80765d'],
            colors_count: 12,
            status: { type: 'have', text: 'В наличии' },
        },
        {
            id: 3,
            category: 'divany',
            name: 'Прямой диван Sunset Nova',
            img_index: '3',
            price: '956 812',
            price_old: '1 594 686',
            discount: '40',
            colors: [ '#3e3530', '#9b8b72', '#837961', '#4f7176', '#757178'],
            colors_count: 12,
            status: { type: 'order', text: 'Под заказ' },
        },
        {
            id: 4,
            category: 'divany',
            name: 'Прямой диван Loko',
            img_index: '2',
            price: '655 232',
            price_old: '1 191 300',
            discount: '55',
            colors: [ '#a99f91', '#3f5259', '#21403e', '#81726e', '#80765d'],
            colors_count: 12,
        },
        {
            id: 5,
            category: 'divany',
            name: 'Прямой диван Talo',
            img_index: '4',
            price: '329 400',
            price_old: '658 800',
            discount: '50',
            colors: [ '#877669', '#3f935d', '#75a0a7', '#78622f', '#212532'],
            colors_count: 7,
            status: { type: 'have', text: 'В наличии' },
        },
        {
            id: 6,
            category: 'divany',
            name: 'Угловой диван Mare',
            img_index: '5',
            price: '655 232',
            price_old: '1 191 300',
            discount: '55',
            colors: [ '#a99f91', '#3f5259', '#21403e', '#81726e', '#80765d'],
            colors_count: 12,
            label: { type: 'best', text: 'Лучшая оценка' },
            status: { type: 'have', text: 'В наличии' },
        },
        {
            id: 7,
            category: 'divany',
            name: 'Прямой диван Sunset Nova',
            img_index: '6',
            price: '956 812',
            price_old: '1 594 686',
            discount: '40',
            colors: [ '#3e3530', '#9b8b72', '#837961', '#4f7176', '#757178'],
            colors_count: 12,
            status: { type: 'order', text: 'Под заказ' },
        },
        {
            id: 8,
            category: 'divany',
            name: 'Угловой диван Mare',
            img_index: '5',
            price: '655 232',
            price_old: '1 191 300',
            discount: '55',
            colors: [ '#a99f91', '#3f5259', '#21403e', '#81726e', '#80765d'],
            colors_count: 12,
        },
        {
            id: 9,
            category: 'divany',
            name: 'Прямой диван Talo',
            img_index: '1',
            price: '329 400',
            price_old: '658 800',
            discount: '50',
            colors: [ '#877669', '#3f935d', '#75a0a7', '#78622f', '#212532'],
            colors_count: 7,
        },
        {
            id: 10,
            category: 'divany',
            name: 'Прямой диван Loko',
            img_index: '2',
            price: '655 232',
            price_old: '1 191 300',
            discount: '55',
            colors: [ '#a99f91', '#3f5259', '#21403e', '#81726e', '#80765d'],
            colors_count: 12,
        },
        {
            id: 11,
            category: 'divany',
            name: 'Прямой диван Sunset Nova',
            img_index: '3',
            price: '956 812',
            price_old: '1 594 686',
            discount: '40',
            colors: [ '#3e3530', '#9b8b72', '#837961', '#4f7176', '#757178'],
            colors_count: 12,
        },
        {
            id: 12,
            category: 'divany',
            name: 'Прямой диван Talo',
            img_index: '4',
            price: '329 400',
            price_old: '658 800',
            discount: '50',
            colors: [ '#877669', '#3f935d', '#75a0a7', '#78622f', '#212532'],
            colors_count: 7,
        },
        {
            id: 13,
            category: 'divany',
            name: 'Прямой диван Sunset Nova',
            img_index: '6',
            price: '956 812',
            price_old: '1 594 686',
            discount: '40',
            colors: [ '#3e3530', '#9b8b72', '#837961', '#4f7176', '#757178'],
            colors_count: 12,
        },
        {
            id: 14,
            category: 'divany',
            name: 'Прямой диван Lily',
            img_index: '7',
            price: '186 202',
            price_old: '465 504',
            discount: '45',
            colors: [ '#756c74', '#876d64', '#507277', '#4f7176', '#b9c4c5'],
        },

        {
            id: 15,
            category: 'matrasi',
            name: 'Анатомический матрас <br> Flash',
            desc: 'С массажным эффектом',
            img_index: '1',
            price: '329 400',
            price_old: '658 800',
            label: { type: 'new', text: 'Новинка' },
            discount: '50',
            features: [
                { name: 'Высота', value: '19 см', icon: 'matras_visota'},
                { name: 'Жесткость', value: 'Средняя, Выше средней', icon: 'matras_jestkost'},
                { name: 'Вес на спальное место', value: 'свыше 140 кг.', icon: 'matras_ves'},
            ],
            status: { type: 'have', text: 'В наличии' },
        },
        {
            id: 16,
            category: 'matrasi',
            name: 'Анатомический матрас <br> Basic Easy Duo Side',
            desc: '7 зон поддержки',
            img_index: '2',
            price: '249 360',
            price_old: '831 200',
            label: { type: 'week', text: 'Товар недели' },
            discount: '65',
            features: [
                { name: 'Высота', value: '22 см', icon: 'matras_visota'},
                { name: 'Жесткость', value: 'Низкая', icon: 'matras_jestkost'},
                { name: 'Вес на спальное место', value: 'свыше 120 кг.', icon: 'matras_ves'},
            ],
            status: { type: 'have', text: 'В наличии' },
        },
        {
            id: 17,
            category: 'matrasi',
            name: 'Анатомический матрас <br> Basic iComfort Plus',
            desc: 'Базовая модель',
            img_index: '3',
            price: '249 360',
            price_old: '831 200',
            discount: '70',
            features: [
                { name: 'Высота', value: '22 см', icon: 'matras_visota'},
                { name: 'Жесткость', value: 'Средняя', icon: 'matras_jestkost'},
                { name: 'Вес на спальное место', value: 'до 90 кг.', icon: 'matras_ves'},
            ],
            status: { type: 'have', text: 'В наличии' },
        },
        {
            id: 18,
            category: 'matrasi',
            name: 'Анатомический матрас <br> Basic iComfort Plus',
            desc: 'Базовая модель',
            img_index: '4',
            price: '75 560',
            price_old: '136 400',
            discount: '45',
            features: [
                { name: 'Высота', value: '14 см', icon: 'matras_visota'},
                { name: 'Жесткость', value: 'Средняя', icon: 'matras_jestkost'},
                { name: 'Вес на спальное место', value: 'до 90 кг.', icon: 'matras_ves'},
            ],
            status: { type: 'order', text: 'Под заказ' },
        },
    ]