- 
    var pages_list = [
        { url: 'home.html', title: 'Главная' },
        { url: 'catalog-divany.html', title: 'Каталог - Диваны' },
        { url: 'catalog-matrasi.html', title: 'Каталог - Матрасы' },
        { url: 'kartochka-divany.html', title: 'Карточка товара - Диваны' },
        { url: 'kartochka-krovati.html', title: 'Карточка товара - Кровати' },
        { url: 'kartochka-matrasi.html', title: 'Карточка товара - Матрасы' },
        { url: 'order.html', title: 'Оформление заказа' },
    ]