- 
    var pages_list = [
        { url: 'home.html', title: 'Главная' },
        { url: 'catalog-divany.html', title: 'Каталог - Диваны' },
        { url: 'catalog-matrasi.html', title: 'Каталог - Матрасы' }
    ]