include data/_cards.pug

include mixins/_card.pug
include mixins/_card-favorite.pug
include mixins/_compare-item.pug
include mixins/_icon.pug
include mixins/_catalog-submenu.pug
include mixins/_mobile-submenu.pug