extends layouts/_layout.pug

block title
	| Каталог - Диваны

block content
	main.main
		.container
			.breadcrumbs
				a.link.link--line.breadcrumbs__link(href="#") Каталог
				span.breadcrumbs__current Диваны

		section.products
			.container
				h2.title2.products__title Диваны

				.sub-categories.products__sub-categories
					.sub-categories__list
						a.sub-categories__item(href="#") 
							.sub-categories__item-img-box
								img.sub-categories__item-img(src="temp/sub-categories/divany/1.jpg")
							.sub-categories__item-name Прямые диваны
						a.sub-categories__item(href="#") 
							.sub-categories__item-img-box
								img.sub-categories__item-img(src="temp/sub-categories/divany/2.jpg")
							.sub-categories__item-name Угловые диваны
						a.sub-categories__item(href="#") 
							.sub-categories__item-img-box
								img.sub-categories__item-img(src="temp/sub-categories/divany/3.jpg")
							.sub-categories__item-name Кресло-кровать
						a.sub-categories__item(href="#") 
							.sub-categories__item-img-box
								img.sub-categories__item-img(src="temp/sub-categories/divany/4.jpg")
							.sub-categories__item-name Кресло

				.products__filters
					.filters
						button.btn.btn--filter.filters__btn
							+icon('filter', 'btn__icon filters__btn-icon')
							| Все фильтры
						.select.filters__select
							select.select__field(data-select-text="Цена")
								option(value="") Цена
								option(value="price") 1
								option(value="price") 2
								option(value="price") 3
							+icon('arrow_right', 'icon--primary select__icon')
						.select.filters__select
							select.select__field(data-select-text="Размер спального места")
								option(value="") Размер спального места
								option(value="size") 1
								option(value="size") 2
								option(value="size") 3
							+icon('arrow_right', 'icon--primary select__icon')
						.select.filters__select
							select.select__field(data-select-text="Тип")
								option(value="") Тип
								option(value="type") 1
								option(value="type") 2
								option(value="type") 3
							+icon('arrow_right', 'icon--primary select__icon')
						.select.filters__select
							select.select__field(data-select-text="Цвет")
								option(value="") Цвет
								option(value="color") 1
								option(value="color") 2
								option(value="color") 3
							+icon('arrow_right', 'icon--primary select__icon')

					.products__sorts
						span.text.products__count Товаров: 346
						.select.select--sort.filters__select
							select.select__field
								option(value="popular") Самые популярные
								option(value="new") Самые новые
								option(value="price") Самые недорогие
								option(value="price") Самые дорогие
							+icon('arrow_right', 'icon--primary select__icon')


				.products__list
					each i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 11, 7, 12, 7]
						+card(i, { class: 'products__item' })
				.products__footer
					.pagination
						.pagination__list
							//- a.link.pagination__link.pagination__link--prev(href="#")
							//- 	+icon('arrow_left', 'icon--primary pagination__icon pagination__icon--prev')
							//- 	| Пред
							span.pagination__active(href="#") 1
							a.link.pagination__link(href="#") 2
							a.link.pagination__link(href="#") 3
							a.link.pagination__link.pagination__link--next(href="#")
								| След
								+icon('arrow_right', 'icon--primary pagination__icon pagination__icon--next')
					button.btn.btn--dark.products__more-btn Показать ещё
					span.text Вы посмотрели 24 из 98 товаров

		section.about
			.container
				.about__content
					p.text.about__text
						| Интернет-магазин Askona - предлагает большой выбор стильных диванов в Казахстане.
						| Только мы осуществляем быструю доставку товара в удобное для покупателя время.
					p.text.about__text
						| Изысканный дизайн каждой детали позволяет подобрать модель под существующий интерьер:
					ul
						li диван для кухни - выполнен из качественного материала с кожаной и тканевой обивкой;
						li прямые диваны - создадут уют в гостиной;
						li диван кресло или диван кровать дополнят небольшую комнату решив проблему с размещением гостей и экономией пространства;
						li в качестве спального дивана подойдет еврософа с выдвижным бельевым шкафом;
						li детские диваны выполнены из гипоаллергенных материалов с яркими принтами и вместительными ящиками для игрушек.
					h3 Как купить диван в Алматы?
					p 
						| Оплатить товар можно банковской картой, наличными и безналичными средствами.
						| Бонусом для покупателей с ограниченными финансовыми возможностями является покупка товара в кредит или рассрочку.
						| По городу Алматы и области доставка мебели осуществляется собственной курьерской службой. В другие города доставляем
					p Магазин постоянно проводит акции и распродажи с существенным снижением цены. Следите за предложениями и не пропустите акции.