extends layouts/_layout.pug

block title
	| Каталог - Диваны

block content
	main.main
		.container
			.breadcrumbs
				a.link.link--line.breadcrumbs__link(href="#") Каталог
				span.breadcrumbs__current Диваны

		section.products
			.container
				h2.title2.products__title Диваны

				.sub-categories.products__sub-categories
					.sub-categories__list
						a.sub-categories__item(href="#") 
							.sub-categories__item-img-box
								img.sub-categories__item-img(src="temp/sub-categories/divany/1.jpg")
							.sub-categories__item-name Прямые диваны
						a.sub-categories__item(href="#") 
							.sub-categories__item-img-box
								img.sub-categories__item-img(src="temp/sub-categories/divany/2.jpg")
							.sub-categories__item-name Угловые диваны
						a.sub-categories__item(href="#") 
							.sub-categories__item-img-box
								img.sub-categories__item-img(src="temp/sub-categories/divany/3.jpg")
							.sub-categories__item-name Кресло-кровать
						a.sub-categories__item(href="#") 
							.sub-categories__item-img-box
								img.sub-categories__item-img(src="temp/sub-categories/divany/4.jpg")
							.sub-categories__item-name Кресло

				.products__filters
					.filters
						button.btn.btn--filter.filters__btn
							+icon('filter', 'btn__icon filters__btn-icon')
							| Все фильтры
						.select.filters__select
							select.select__field(data-select-text="Цена")
								option(value="") Цена
								option(value="price") 1
								option(value="price") 2
								option(value="price") 3
							+icon('arrow_right', 'icon--primary select__icon')
						.select.filters__select
							select.select__field(data-select-text="Размер спального места")
								option(value="") Размер спального места
								option(value="size") 1
								option(value="size") 2
								option(value="size") 3
							+icon('arrow_right', 'icon--primary select__icon')
						.select.filters__select
							select.select__field(data-select-text="Тип")
								option(value="") Тип
								option(value="type") 1
								option(value="type") 2
								option(value="type") 3
							+icon('arrow_right', 'icon--primary select__icon')
						.select.filters__select
							select.select__field(data-select-text="Цвет")
								option(value="") Цвет
								option(value="color") 1
								option(value="color") 2
								option(value="color") 3
							+icon('arrow_right', 'icon--primary select__icon')

					.products__sorts
						span.text.products__count Товаров: 346
						.select.select--sort.filters__select
							select.select__field
								option(value="popular") Самые популярные
								option(value="new") Самые новые
								option(value="price") Самые недорогие
								option(value="price") Самые дорогие
							+icon('arrow_right', 'icon--primary select__icon')


				.products__list
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/1.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/1.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/1.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/1.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -50%
								+icon('skidka', 'discount__bg')
							span.product-label.product-label--new.product__label Новинка
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Прямой диван Talo
							.product__price 
								| от
								span.product__price-value 329 400 ₸
								span.product__price-old 658 800 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color1")
											.color-switcher__elem(style="background-color: #877669;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color1")
											.color-switcher__elem(style="background-color: #3f935d;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color1")
											.color-switcher__elem(style="background-color: #75a0a7;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color1")
											.color-switcher__elem(style="background-color: #78622f;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color1")
											.color-switcher__elem(style="background-color: #212532;")
									.color-switcher__count +7
								.product__status.product__status--have В наличии
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn Подробнее

					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -55%
								+icon('skidka', 'discount__bg')
							span.product-label.product-label--week.product__label Товар недели											
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Прямой диван Loko
							.product__price 
								| от
								span.product__price-value 655 232 ₸
								span.product__price-old 1 191 300 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #a99f91;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #3f5259;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #21403e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #81726e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #80765d;")
									.color-switcher__count +12
								.product__status.product__status--have В наличии
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик						
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/3.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/3.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/3.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/3.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -40%
								+icon('skidka', 'discount__bg')
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Прямой диван Sunset Nova
							.product__price 
								| от
								span.product__price-value 956 812 ₸
								span.product__price-old 1 594 686 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color3")
											.color-switcher__elem(style="background-color: #3e3530;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color3")
											.color-switcher__elem(style="background-color: #9b8b72;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color3")
											.color-switcher__elem(style="background-color: #837961;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color3")
											.color-switcher__elem(style="background-color: #4f7176;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color3")
											.color-switcher__elem(style="background-color: #757178;")
									.color-switcher__count +12
								.product__status Под заказ
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -55%
								+icon('skidka', 'discount__bg')
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Прямой диван Loko
							.product__price 
								| от
								span.product__price-value 655 232 ₸
								span.product__price-old 1 191 300 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #a99f91;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #3f5259;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #21403e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #81726e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #80765d;")
									.color-switcher__count +12
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/4.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/4.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/4.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/4.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -50%
								+icon('skidka', 'discount__bg')
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Прямой диван Talo
							.product__price 
								| от
								span.product__price-value 329 400 ₸
								span.product__price-old 658 800 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color4")
											.color-switcher__elem(style="background-color: #877669;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color4")
											.color-switcher__elem(style="background-color: #3f935d;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color4")
											.color-switcher__elem(style="background-color: #75a0a7;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color4")
											.color-switcher__elem(style="background-color: #78622f;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color4")
											.color-switcher__elem(style="background-color: #212532;")
									.color-switcher__count +7
								.product__status.product__status--have В наличии
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -55%
								+icon('skidka', 'discount__bg')
							span.product-label.product-label--best.product__label Лучшая оценка													
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Угловой диван Mare
							.product__price 
								| от
								span.product__price-value 655 232 ₸
								span.product__price-old 1 191 300 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #a99f91;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #3f5259;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #21403e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #81726e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #80765d;")
									.color-switcher__count +12
								.product__status.product__status--have В наличии
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/6.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/6.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/6.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/6.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -40%
								+icon('skidka', 'discount__bg')
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Прямой диван Sunset Nova
							.product__price 
								| от
								span.product__price-value 956 812 ₸
								span.product__price-old 1 594 686 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color8")
											.color-switcher__elem(style="background-color: #3e3530;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color8")
											.color-switcher__elem(style="background-color: #9b8b72;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color8")
											.color-switcher__elem(style="background-color: #837961;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color8")
											.color-switcher__elem(style="background-color: #4f7176;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color8")
											.color-switcher__elem(style="background-color: #757178;")
									.color-switcher__count +12
								.product__status Под заказ
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -55%
								+icon('skidka', 'discount__bg')
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Угловой диван Mare
							.product__price 
								| от
								span.product__price-value 655 232 ₸
								span.product__price-old 1 191 300 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #a99f91;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #3f5259;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #21403e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #81726e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #80765d;")
									.color-switcher__count +12
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/1.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/1.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/1.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/1.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -50%
								+icon('skidka', 'discount__bg')
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Прямой диван Talo
							.product__price 
								| от
								span.product__price-value 329 400 ₸
								span.product__price-old 658 800 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color1")
											.color-switcher__elem(style="background-color: #877669;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color1")
											.color-switcher__elem(style="background-color: #3f935d;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color1")
											.color-switcher__elem(style="background-color: #75a0a7;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color1")
											.color-switcher__elem(style="background-color: #78622f;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color1")
											.color-switcher__elem(style="background-color: #212532;")
									.color-switcher__count +7
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -55%
								+icon('skidka', 'discount__bg')
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Прямой диван Loko
							.product__price 
								| от
								span.product__price-value 655 232 ₸
								span.product__price-old 1 191 300 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #a99f91;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #3f5259;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #21403e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #81726e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #80765d;")
									.color-switcher__count +12
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/3.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/3.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/3.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/3.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -40%
								+icon('skidka', 'discount__bg')
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Прямой диван Sunset Nova
							.product__price 
								| от
								span.product__price-value 956 812 ₸
								span.product__price-old 1 594 686 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color3")
											.color-switcher__elem(style="background-color: #3e3530;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color3")
											.color-switcher__elem(style="background-color: #9b8b72;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color3")
											.color-switcher__elem(style="background-color: #837961;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color3")
											.color-switcher__elem(style="background-color: #4f7176;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color3")
											.color-switcher__elem(style="background-color: #757178;")
									.color-switcher__count +12
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/2.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -55%
								+icon('skidka', 'discount__bg')
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Прямой диван Loko
							.product__price 
								| от
								span.product__price-value 655 232 ₸
								span.product__price-old 1 191 300 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #a99f91;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #3f5259;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #21403e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #81726e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color2")
											.color-switcher__elem(style="background-color: #80765d;")
									.color-switcher__count +12
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/4.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/4.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/4.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/4.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -50%
								+icon('skidka', 'discount__bg')
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Прямой диван Talo
							.product__price 
								| от
								span.product__price-value 329 400 ₸
								span.product__price-old 658 800 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color4")
											.color-switcher__elem(style="background-color: #877669;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color4")
											.color-switcher__elem(style="background-color: #3f935d;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color4")
											.color-switcher__elem(style="background-color: #75a0a7;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color4")
											.color-switcher__elem(style="background-color: #78622f;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color4")
											.color-switcher__elem(style="background-color: #212532;")
									.color-switcher__count +7
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -55%
								+icon('skidka', 'discount__bg')
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Угловой диван Mare
							.product__price 
								| от
								span.product__price-value 655 232 ₸
								span.product__price-old 1 191 300 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #a99f91;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #3f5259;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #21403e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #81726e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #80765d;")
									.color-switcher__count +12
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/6.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/6.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/6.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/6.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -40%
								+icon('skidka', 'discount__bg')
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Прямой диван Sunset Nova
							.product__price 
								| от
								span.product__price-value 956 812 ₸
								span.product__price-old 1 594 686 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color8")
											.color-switcher__elem(style="background-color: #3e3530;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color8")
											.color-switcher__elem(style="background-color: #9b8b72;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color8")
											.color-switcher__elem(style="background-color: #837961;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color8")
											.color-switcher__elem(style="background-color: #4f7176;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color8")
											.color-switcher__elem(style="background-color: #757178;")
									.color-switcher__count +12
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик
					.product.products__item
						a.product__img-box(href="#") 
							.product__slider.swiper
								.swiper-wrapper
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
									.swiper-slide
										img.product__img(src="temp/products/divany/5.jpg")
								.product__slider-pagination.js-product-slider-pagination
							span.discount.product__discount
								| -55%
								+icon('skidka', 'discount__bg')
							button.icon-btn.icon-btn--gray.product__wishlist
								+icon('izbrannoe', 'icon-btn__icon')
							button.icon-btn.icon-btn--gray.product__compare
								+icon('sravnenie', 'icon-btn__icon')
						.product__inf
							h3.product__name
								a.link(href="#") Угловой диван Mare
							.product__price 
								| от
								span.product__price-value 655 232 ₸
								span.product__price-old 1 191 300 ₸
							.product__meta
								.color-switcher.product__colors
									.color-switcher__list
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #a99f91;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #3f5259;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #21403e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #81726e;")
										label.color-switcher__label
											input.color-switcher__input(type="radio" name="color7")
											.color-switcher__elem(style="background-color: #80765d;")
									.color-switcher__count +12
						.product__addition
							.product__addition-content
								.product__meta
									span.text
										| Рассрочка от
										span.product__pay-part 1200 ₸
									span.product__code Код товара: 13241
								.select.product__select
									select.select__field
										option(value="140x220") 140 см х 220 см 
										option(value="141x220") 141 см х 220 см 
										option(value="142x220") 142 см х 220 см
									+icon('arrow_right', 'icon--primary select__icon')
								.product__btn-group
									button.btn.product__btn В корзину
									button.btn.btn--transparent.product__btn Купить в 1 клик
				.products__footer
					.pagination
						.pagination__list
							//- a.link.pagination__link.pagination__link--prev(href="#")
							//- 	+icon('arrow_left', 'icon--primary pagination__icon pagination__icon--prev')
							//- 	| Пред
							span.pagination__active(href="#") 1
							a.link.pagination__link(href="#") 2
							a.link.pagination__link(href="#") 3
							a.link.pagination__link.pagination__link--next(href="#")
								| След
								+icon('arrow_right', 'icon--primary pagination__icon pagination__icon--next')
					button.btn.btn--dark.products__more-btn Показать ещё
					span.text Вы посмотрели 24 из 98 товаров

		section.about
			.container
				.about__content
					p.text.about__text
						| Интернет-магазин Askona - предлагает большой выбор стильных диванов в Казахстане.
						| Только мы осуществляем быструю доставку товара в удобное для покупателя время.
					p.text.about__text
						| Изысканный дизайн каждой детали позволяет подобрать модель под существующий интерьер:
					ul
						li диван для кухни - выполнен из качественного материала с кожаной и тканевой обивкой;
						li прямые диваны - создадут уют в гостиной;
						li диван кресло или диван кровать дополнят небольшую комнату решив проблему с размещением гостей и экономией пространства;
						li в качестве спального дивана подойдет еврософа с выдвижным бельевым шкафом;
						li детские диваны выполнены из гипоаллергенных материалов с яркими принтами и вместительными ящиками для игрушек.
					h3 Как купить диван в Алматы?
					p 
						| Оплатить товар можно банковской картой, наличными и безналичными средствами.
						| Бонусом для покупателей с ограниченными финансовыми возможностями является покупка товара в кредит или рассрочку.
						| По городу Алматы и области доставка мебели осуществляется собственной курьерской службой. В другие города доставляем
					p Магазин постоянно проводит акции и распродажи с существенным снижением цены. Следите за предложениями и не пропустите акции.