extends layouts/_layout.pug

block title
	| Главная

block content
	main.main
		section.events
			.container 
			.events__slider
				.events__slider-main.swiper.js-events-slider
					.swiper-wrapper
						.swiper-slide
							a.events__slider-item(href="#")
								img.events__slider-img(src="assets/img/events/2.jpg" alt="")
						.swiper-slide
							a.events__slider-item(href="#")
								img.events__slider-img(src="assets/img/events/3.jpg" alt="")
						.swiper-slide
							a.events__slider-item(href="#")
								img.events__slider-img(src="assets/img/events/4.jpg" alt="")
						.swiper-slide
							a.events__slider-item(href="#")
								img.events__slider-img(src="assets/img/events/1.jpg" alt="")
					.swiper-pagination.events__slider-pagination.js-events-slider-pagination

		section.categories.main__categories
			.container
				.categories__slider
					.categories__slider-main.swiper.js-categories-slider
						.swiper-wrapper
							.swiper-slide
								a.category.categories__item(href="#") 
									.category__header
										h3.category__title Матрасы
										span.category__count Товаров: 241
									.category__price
										span.category__price-text от
										span.category__price-value 90 400 ₸
										+icon('price_category', 'category__price-bg')
									img.category__img(src="temp/categories/1.png" alt="")

							.swiper-slide
								a.category.categories__item(href="#") 
									.category__header
										h3.category__title Диваны
										span.category__count Товаров: 155
									.category__price
										span.category__price-text от
										span.category__price-value 290 100 ₸
										+icon('price_category', 'category__price-bg')
									img.category__img(src="temp/categories/2.png" alt="")

							.swiper-slide
								a.category.categories__item(href="#") 
									.category__header
										h3.category__title Кровати
										span.category__count Товаров: 57
									.category__price
										span.category__price-text от
										span.category__price-value 370 000 ₸
										+icon('price_category', 'category__price-bg')
									img.category__img(src="temp/categories/3.png" alt="")

							.swiper-slide
								a.category.categories__item(href="#") 
									.category__header
										h3.category__title Одеяла
										span.category__count Товаров: 49
									.category__price
										span.category__price-text от
										span.category__price-value 49 200 ₸
										+icon('price_category', 'category__price-bg')
									img.category__img(src="temp/categories/4.png" alt="")

							.swiper-slide
								a.category.categories__item(href="#") 
									.category__header
										h3.category__title Подушки
										span.category__count Товаров: 124
									.category__price
										span.category__price-text от
										span.category__price-value 23 500 ₸
										+icon('price_category', 'category__price-bg')
									img.category__img(src="temp/categories/5.png" alt="")

							.swiper-slide
								a.category.categories__item(href="#") 
									.category__header
										h3.category__title Матрасы
										span.category__count Товаров: 241
									.category__price
										span.category__price-text от
										span.category__price-value 90 400 ₸
										+icon('price_category', 'category__price-bg')
									img.category__img(src="temp/categories/1.png" alt="")

					.swiper-pagination.categories__slider-pagination.js-categories-slider-pagination
					.categories__slider-navigation
						button.btn-next.categories__slider-next.js-categories-slider-next
							+icon('arrow_right', 'icon--primary btn-next__icon')
						button.btn-prev.categories__slider-prev.js-categories-slider-prev
							+icon('arrow_left', 'icon--primary btn-prev__icon')

		section.section.products
			.container
				h2.title2.products__title Хиты продаж
				.products__slider
					.products__slider-main.js-products-slider.swiper
						.swiper-wrapper
							.swiper-slide
								.product.products__item
									.product__img-box
										img.product__img(src="temp/products/1.jpg" alt="Прямой диван Talo")
										span.discount.product__discount
											| -50%
											+icon('skidka', 'discount__bg')
										span.product-label.product-label--new.product__label Новинка
									.product__inf
										h3.product__name
											a.link(href="#") Прямой диван Talo
										.product__price 
											| от
											span.product__price-value 329 400 ₸
											span.product__price-old 658 800 ₸
										.product__meta
											.color-switcher.product__colors
												.color-switcher__list
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color1")
														.color-switcher__elem(style="background-color: #877669;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color1")
														.color-switcher__elem(style="background-color: #3f935d;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color1")
														.color-switcher__elem(style="background-color: #75a0a7;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color1")
														.color-switcher__elem(style="background-color: #78622f;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color1")
														.color-switcher__elem(style="background-color: #212532;")
												.color-switcher__count +7
											.product__status.product__status--have В наличии

							.swiper-slide
								.product.products__item
									.product__img-box
										img.product__img(src="temp/products/2.jpg" alt="Прямой диван Loko")
										span.discount.product__discount
											| -55%
											+icon('skidka', 'discount__bg')
										span.product-label.product-label--week.product__label Товар недели											
									.product__inf
										h3.product__name
											a.link(href="#") Прямой диван Loko
										.product__price 
											| от
											span.product__price-value 655 232 ₸
											span.product__price-old 1 191 300 ₸
										.product__meta
											.color-switcher.product__colors
												.color-switcher__list
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color2")
														.color-switcher__elem(style="background-color: #a99f91;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color2")
														.color-switcher__elem(style="background-color: #3f5259;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color2")
														.color-switcher__elem(style="background-color: #21403e;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color2")
														.color-switcher__elem(style="background-color: #81726e;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color2")
														.color-switcher__elem(style="background-color: #80765d;")
												.color-switcher__count +12
											.product__status.product__status--have В наличии

							.swiper-slide
								.product.products__item
									.product__img-box
										img.product__img(src="temp/products/3.jpg" alt="Прямой диван Sunset Nova")
										span.discount.product__discount
											| -40%
											+icon('skidka', 'discount__bg')
									.product__inf
										h3.product__name
											a.link(href="#") Прямой диван Sunset Nova
										.product__price 
											| от
											span.product__price-value 956 812 ₸
											span.product__price-old 1 594 686 ₸
										.product__meta
											.color-switcher.product__colors
												.color-switcher__list
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color3")
														.color-switcher__elem(style="background-color: #3e3530;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color3")
														.color-switcher__elem(style="background-color: #9b8b72;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color3")
														.color-switcher__elem(style="background-color: #837961;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color3")
														.color-switcher__elem(style="background-color: #4f7176;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color3")
														.color-switcher__elem(style="background-color: #757178;")
												.color-switcher__count +12
											.product__status Под заказ

							.swiper-slide
								.product.products__item
									.product__img-box
										img.product__img(src="temp/products/4.jpg" alt="Прямой диван Talo")
										span.discount.product__discount
											| -50%
											+icon('skidka', 'discount__bg')
									.product__inf
										h3.product__name
											a.link(href="#") Прямой диван Talo
										.product__price 
											| от
											span.product__price-value 329 400 ₸
											span.product__price-old 658 800 ₸
										.product__meta
											.color-switcher.product__colors
												.color-switcher__list
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color4")
														.color-switcher__elem(style="background-color: #877669;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color4")
														.color-switcher__elem(style="background-color: #3f935d;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color4")
														.color-switcher__elem(style="background-color: #75a0a7;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color4")
														.color-switcher__elem(style="background-color: #78622f;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color4")
														.color-switcher__elem(style="background-color: #212532;")
												.color-switcher__count +7
											.product__status.product__status--have В наличии


							.swiper-slide
								.product.products__item
									.product__img-box
										img.product__img(src="temp/products/1.jpg" alt="Прямой диван Talo")
										span.discount.product__discount
											| -50%
											+icon('skidka', 'discount__bg')
										span.product-label.product-label--new.product__label Товар недели														
									.product__inf
										h3.product__name
											a.link(href="#") Прямой диван Talo
										.product__price 
											| от
											span.product__price-value 329 400 ₸
											span.product__price-old 658 800 ₸
										.product__meta
											.color-switcher.product__colors
												.color-switcher__list
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color5")
														.color-switcher__elem(style="background-color: #877669;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color5")
														.color-switcher__elem(style="background-color: #3f935d;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color5")
														.color-switcher__elem(style="background-color: #75a0a7;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color5")
														.color-switcher__elem(style="background-color: #78622f;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color5")
														.color-switcher__elem(style="background-color: #212532;")
												.color-switcher__count +7
											.product__status.product__status--have В наличии

					.swiper-pagination.products__slider-pagination.js-products-slider-pagination
					.products__slider-navigation
						button.btn-next.products__slider-next.js-products-slider-next
							+icon('arrow_right', 'icon--primary btn-next__icon')
						button.btn-prev.products__slider-prev.js-products-slider-prev
							+icon('arrow_left', 'icon--primary btn-prev__icon')

		section.section.products
			.container
				h2.title2.products__title Новинки
				.products__slider
					.products__slider-main.js-products-slider.swiper
						.swiper-wrapper
							.swiper-slide
								.product.products__item
									.product__img-box
										img.product__img(src="temp/products/4.jpg" alt="Прямой диван Talo")
										span.discount.product__discount
											| -50%
											+icon('skidka', 'discount__bg')
									.product__inf
										h3.product__name
											a.link(href="#") Прямой диван Talo
										.product__price 
											| от
											span.product__price-value 329 400 ₸
											span.product__price-old 658 800 ₸
										.product__meta
											.color-switcher.product__colors
												.color-switcher__list
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color6")
														.color-switcher__elem(style="background-color: #877669;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color6")
														.color-switcher__elem(style="background-color: #3f935d;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color6")
														.color-switcher__elem(style="background-color: #75a0a7;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color6")
														.color-switcher__elem(style="background-color: #78622f;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color6")
														.color-switcher__elem(style="background-color: #212532;")
												.color-switcher__count +7

							.swiper-slide
								.product.products__item
									.product__img-box
										img.product__img(src="temp/products/5.jpg" alt="Угловой диван Mare")
										span.discount.product__discount
											| -55%
											+icon('skidka', 'discount__bg')
										span.product-label.product-label--best.product__label Лучшая оценка													
									.product__inf
										h3.product__name
											a.link(href="#") Угловой диван Mare
										.product__price 
											| от
											span.product__price-value 655 232 ₸
											span.product__price-old 1 191 300 ₸
										.product__meta
											.color-switcher.product__colors
												.color-switcher__list
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color7")
														.color-switcher__elem(style="background-color: #a99f91;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color7")
														.color-switcher__elem(style="background-color: #3f5259;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color7")
														.color-switcher__elem(style="background-color: #21403e;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color7")
														.color-switcher__elem(style="background-color: #81726e;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color7")
														.color-switcher__elem(style="background-color: #80765d;")
												.color-switcher__count +12
											.product__status.product__status--have В наличии

							.swiper-slide
								.product.products__item
									.product__img-box
										img.product__img(src="temp/products/6.jpg" alt="Прямой диван Sunset Nova")
										span.discount.product__discount
											| -40%
											+icon('skidka', 'discount__bg')
									.product__inf
										h3.product__name
											a.link(href="#") Прямой диван Sunset Nova
										.product__price 
											| от
											span.product__price-value 956 812 ₸
											span.product__price-old 1 594 686 ₸
										.product__meta
											.color-switcher.product__colors
												.color-switcher__list
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color8")
														.color-switcher__elem(style="background-color: #3e3530;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color8")
														.color-switcher__elem(style="background-color: #9b8b72;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color8")
														.color-switcher__elem(style="background-color: #837961;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color8")
														.color-switcher__elem(style="background-color: #4f7176;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color8")
														.color-switcher__elem(style="background-color: #757178;")
												.color-switcher__count +12
											.product__status Под заказ

							.swiper-slide
								.product.products__item
									.product__img-box
										img.product__img(src="temp/products/5.jpg" alt="Угловой диван Mare")
										span.discount.product__discount
											| -55%
											+icon('skidka', 'discount__bg')
									.product__inf
										h3.product__name
											a.link(href="#") Угловой диван Mare
										.product__price 
											| от
											span.product__price-value 655 232 ₸
											span.product__price-old 1 191 300 ₸
										.product__meta
											.color-switcher.product__colors
												.color-switcher__list
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color9")
														.color-switcher__elem(style="background-color: #a99f91;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color9")
														.color-switcher__elem(style="background-color: #3f5259;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color9")
														.color-switcher__elem(style="background-color: #21403e;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color9")
														.color-switcher__elem(style="background-color: #81726e;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color9")
														.color-switcher__elem(style="background-color: #80765d;")
												.color-switcher__count +12
											.product__status Под заказ

							.swiper-slide
								.product.products__item
									.product__img-box
										img.product__img(src="temp/products/4.jpg" alt="Прямой диван Talo")
										span.discount.product__discount
											| -50%
											+icon('skidka', 'discount__bg')
									.product__inf
										h3.product__name
											a.link(href="#") Прямой диван Talo
										.product__price 
											| от
											span.product__price-value 329 400 ₸
											span.product__price-old 658 800 ₸
										.product__meta
											.color-switcher.product__colors
												.color-switcher__list
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color6")
														.color-switcher__elem(style="background-color: #877669;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color6")
														.color-switcher__elem(style="background-color: #3f935d;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color6")
														.color-switcher__elem(style="background-color: #75a0a7;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color6")
														.color-switcher__elem(style="background-color: #78622f;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color6")
														.color-switcher__elem(style="background-color: #212532;")
												.color-switcher__count +7

							.swiper-slide
								.product.products__item
									.product__img-box
										img.product__img(src="temp/products/5.jpg" alt="Угловой диван Mare")
										span.discount.product__discount
											| -55%
											+icon('skidka', 'discount__bg')
										span.product-label.product-label--best.product__label Лучшая оценка													
									.product__inf
										h3.product__name
											a.link(href="#") Угловой диван Mare
										.product__price 
											| от
											span.product__price-value 655 232 ₸
											span.product__price-old 1 191 300 ₸
										.product__meta
											.color-switcher.product__colors
												.color-switcher__list
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color7")
														.color-switcher__elem(style="background-color: #a99f91;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color7")
														.color-switcher__elem(style="background-color: #3f5259;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color7")
														.color-switcher__elem(style="background-color: #21403e;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color7")
														.color-switcher__elem(style="background-color: #81726e;")
													label.color-switcher__label
														input.color-switcher__input(type="radio" name="color7")
														.color-switcher__elem(style="background-color: #80765d;")
												.color-switcher__count +12
											.product__status.product__status--have В наличии

					.swiper-pagination.products__slider-pagination.js-products-slider-pagination
					.products__slider-navigation
						button.btn-next.products__slider-next.js-products-slider-next
							+icon('arrow_right', 'icon--primary btn-next__icon')
						button.btn-prev.products__slider-prev.js-products-slider-prev
							+icon('arrow_left', 'icon--primary btn-prev__icon')

		section.section.advantages
			.container
				.advantages__list
					.advantages__item
						+icon('adresa_magazinov', 'advantages__item-icon')
						h3.advantages__item-title Адреса магазинов
						p.advantages__item-text 
							| Найдите ближайший салон 
							| или удобный для вас пункт самовывоза
						button.btn.btn--white.advantages__item-btn Показать на карте

					.advantages__item.advantages__item--main
						img.advantages__item-img(src="assets/img/advantages/discount.jpg" alt="")
						button.btn.btn--white.advantages__item-btn Узнать больше

					.advantages__item
						+icon('club_sna', 'advantages__item-icon')
						h3.advantages__item-title Клуб здорового сна
						p.advantages__item-text 
							| Вступайте в клуб и получайте скидки 
							| и дополнительные привилегии
						button.btn.btn--white.advantages__item-btn Получить скидку								

		section.section.features 
			.container 
				.features__content
					.features__header 
						h2.title2 Askona заряжает сном
						p.text.features__text
							| Мы постоянно разрабатываем инновационные решения и выпускаем только такую продукцию, в которой уверены на 100%.
							| День за днем мы работаем для того, чтобы каждую ночь вы погружались в здоровый сон, набираясь сил для новых свершений.
					.features__list 
						.features__item
							.features__item-icon-box
								+icon('laboratory', 'features__item-icon')
							h3.title3.features__item-title Единственная в России лаборатория сна
							p.text.features__item-text
								| Сертифицированная по стандартам ISO. В ней мы создаем будущее.
								| И тестируем все новые модели матрасов, диванов и кроватей Askona.

						.features__item
							.features__item-icon-box
								+icon('marka_n1', 'features__item-icon')
							h3.title3.features__item-title Марка №1 в России
							p.text.features__item-text
								| По результатам народного голосования. Мы прошли 
								| стажировку в лучших немецких и  шведских компаниях, 
								| чтобы перенять стандарты качества и поднять их на еще более высокий уровень.

						.features__item
							.features__item-icon-box
								+icon('eco', 'features__item-icon')
							h3.title3.features__item-title Забота об окружающей среде
							p.text.features__item-text
								| Мы максимально бережно взаимодействуем с природой, обеспечивая её сохранность.
								| Доля перерабатываемых отходов в Askona составляет 100%.			

		section.section.features
			.container
				.features__content.features__content--gray
					.features__header 
						h2.title2 Всегда на связи
						p.text.features__text
							| Мы постоянно разрабатываем инновационные решения и выпускаем только такую продукцию, в которой уверены на 100%.
							| День за днем мы работаем для того, чтобы каждую ночь вы погружались в здоровый сон, набираясь сил для новых свершений.
					.features__list 
						.features__item
							.features__item-icon-box
								+icon('napishite_zvonite', 'features__item-icon')
							h3.title3.features__item-title Напишите или позвоните нам
							p.text.features__item-text
								| Констультанты Askona готовы ответить на любой <br>
								| ваш вопрос в режиме онлайн.
							a.link.link--primary.features__item-link(href="#") Задать вопрос

						.features__item
							.features__item-icon-box
								+icon('videokonsultaciya', 'features__item-icon')
							h3.title3.features__item-title Получите видеоконсультацию
							p.text.features__item-text
								| Констультанты Askona покажут вам товар онлайн <br>
								| и ответят на любые вопросы.
							a.link.link--primary.features__item-link(href="#") Позвонить по видео

						.features__item
							.features__item-icon-box
								+icon('faq', 'features__item-icon')
							h3.title3.features__item-title Узнайте ответы на частые вопросы
							p.text.features__item-text
								| Мы собрали самые популярные вопросы пользователей <br>
								| в одном удобном разделе.
							a.link.link--primary.features__item-link(href="#") Открыть раздел