extends layouts/_layout.pug

block vars
	- var bottom_menu_link = 'catalog'

block title
	| Карточка товара - Диваны

block content
	main.main
		.container
			.breadcrumbs
				a.link.link--line.breadcrumbs__link(href="#") Каталог
				a.link.link--line.breadcrumbs__link(href="#") Диваны
				span.breadcrumbs__current DayNight Nova

		section.single-product
			.container
				.single-product__content
					.single-product__main
						.single-product__sliders
							.single-product__nav-slider.swiper
								.swiper-wrapper
									.swiper-slide
										img(src="temp/single-products/divany/1.jpg" alt="")
									.swiper-slide
										img(src="temp/single-products/divany/2.jpg" alt="")
									.swiper-slide
										img(src="temp/single-products/divany/3.jpg" alt="")
									.swiper-slide
										img(src="temp/single-products/divany/4.jpg" alt="")
									.swiper-slide
										img(src="temp/single-products/divany/1.jpg" alt="")
									.swiper-slide
										img(src="temp/single-products/divany/2.jpg" alt="")
									.swiper-slide
										img(src="temp/single-products/divany/3.jpg" alt="")
									.swiper-slide
										img(src="temp/single-products/divany/4.jpg" alt="")
								button.single-product__nav-next
									+icon('arrow_right', 'icon--primary btn-next__icon')
								button.single-product__nav-prev
									+icon('arrow_left', 'icon--primary btn-prev__icon')
							.single-product__big-slider.swiper
								.swiper-wrapper
									.swiper-slide(data-src="temp/single-products/divany/1.jpg")
										img(src="temp/single-products/divany/1.jpg" alt="")
									.swiper-slide(data-src="temp/single-products/divany/2.jpg")
										img(src="temp/single-products/divany/2.jpg" alt="")
									.swiper-slide(data-src="temp/single-products/divany/3.jpg")
										img(src="temp/single-products/divany/3.jpg" alt="")
									.swiper-slide(data-src="temp/single-products/divany/4.jpg")
										img(src="temp/single-products/divany/4.jpg" alt="")
									.swiper-slide(data-src="temp/single-products/divany/1.jpg")
										img(src="temp/single-products/divany/1.jpg" alt="")
									.swiper-slide(data-src="temp/single-products/divany/2.jpg")
										img(src="temp/single-products/divany/2.jpg" alt="")
									.swiper-slide(data-src="temp/single-products/divany/3.jpg")
										img(src="temp/single-products/divany/3.jpg" alt="")
									.swiper-slide(data-src="temp/single-products/divany/4.jpg")
										img(src="temp/single-products/divany/4.jpg" alt="")
								.swiper-pagination.single-product__big-slider-pagination
								.single-product__labels
									.single-product__label.single-product__label--week Товар недели
									.single-product__label.single-product__label--delivery Доставка 1 день
								.single-product__play-btns
									button.btn-play.single-product__play-btn
										+icon('play_video', 'btn-play__icon')
									button.btn-360.single-product__play-btn
										+icon('360', 'btn-360__icon')

						.single-product__mobile-info

						.details.single-product__details.popup.popup--mobile#details(data-name="details" data-lock-width="991")
							.title3.details__title Характеристики
							.details__body
								.details__list
									.details__column
										.details__item
											span.text.details__item-name Бельевой короб
											span.text.details__item-value Да
										.details__item
											span.text.details__item-name Бренд
											span.text.details__item-value Askona
										.details__item
											span.text.details__item-name Страна производитель
											span.text.details__item-value Россия
										.details__item
											span.text.details__item-name Глубина посадки
											span.text.details__item-value 60 см.
										.details__item
											span.text.details__item-name Макс. нагрузка, кг
											span.text.details__item-value до 80 кг.	
									.details__column
										.details__item
											span.text.details__item-name Бельевой короб
											span.text.details__item-value Да
										.details__item
											span.text.details__item-name Бренд
											span.text.details__item-value Askona
										.details__item
											span.text.details__item-name Страна производитель
											span.text.details__item-value Россия
										.details__item
											span.text.details__item-name Глубина посадки
											span.text.details__item-value 60 см.
										.details__item
											span.text.details__item-name Макс. нагрузка, кг
											span.text.details__item-value до 80 кг.	
								.details__footer
									.title3.details__footer-title Инструкции
									a.link.link--line.link--icon.details__download(href="#") 
										+icon('skachat', 'icon--primary link__icon')
										| Скачать инструкцию по сборке
							button.popup__close.single-product__details-close
								+icon('exit', 'popup__close-icon')


						.single-product__desc.popup.popup--mobile#desc(data-name="desc" data-lock-width="991")
							h3 Описание
							.single-product__desc-body
								.single-product__desc-main
									img(src="temp/single-products/divany/desc/1.jpg" alt="")
									p
										| Прямой анатомический диван Talo – мягкий и на высоких деревянных ножках, в духе ультрамодных тенденций.
										| Сдержанный дизайн и продуманная до мелочей функциональность – в актуальном скандинавском стиле.
										| Компактный Talo освободит пространство даже на небольших площадях. Диван трансформируется в полноценную кровать,
										| с ровным, без заломов спальным местом. Усиленный механизм «Клик-кляк» обеспечит ежедневную трансформацию без 
										| особых усилий. Геометрическая стежка чехла подчеркивает лаконичность и выразительность модели.
										| Плавные линии, мягкие углы и ребра делают Talo безопасным даже для детей.
								h4 Важно знать
								p В базовую комплектацию входят диван, матрас, бельевой короб и чехол.
								h4 Матрас:
								p
									| Высокий анатомический матрас – 16 см. В его основе – 7-зональный блок независимых пружин и высокоэластичная пена Orto Foam,
									| поддерживают тело в физиологически правильном положении. Периметр матраса усилен пеной повышенной плотности и защищает края от провисания.
									| Жесткость матраса – средняя (Medium).
								h4 Ткани
								.img-text.single-product__img-text
									img(src="temp/single-products/divany/desc/tkani/1.jpg" alt="")
									.img-text__content
										h5 Sky velvel
										p 
											| Sky velvet (микровелюр) изготовлена по инновационным технологиям. Ее главное преимущество – водоотталкивающая поверхность.
											| Ткань практична в уходе: самые стойкие загрязнения можно отчистить водой. Sky velvet устойчива к истиранию (60 тыс. циклов)
											| и прямым солнечным лучам, срок ее службы значительно выше, чем у стандартных мебельных тканей. Гипоаллергенная и экологичная.
								.img-text.single-product__img-text
									img(src="temp/single-products/divany/desc/tkani/2.jpg" alt="")
									.img-text__content
										h5 Sky velvel
										p 
											| Sky velvet (микровелюр) изготовлена по инновационным технологиям. Ее главное преимущество – водоотталкивающая поверхность.
											| Ткань практична в уходе: самые стойкие загрязнения можно отчистить водой. Sky velvet устойчива к истиранию (60 тыс. циклов)
											| и прямым солнечным лучам, срок ее службы значительно выше, чем у стандартных мебельных тканей. Гипоаллергенная и экологичная.
								.img-text.single-product__img-text
									img(src="temp/single-products/divany/desc/tkani/3.jpg" alt="")
									.img-text__content
										h5 Sky velvel
										p Sky velvet (микровелюр) изготовлена по инновационным технологиям. Ее главное преимущество – водоотталкивающая поверхность. Ткань практична в уходе: самые стойкие загрязнения можно отчистить водой. Sky velvet устойчива к истиранию (60 тыс. циклов) и прямым солнечным лучам, срок ее службы значительно выше, чем у стандартных мебельных тканей. Гипоаллергенная и экологичная.
								h4 Подушки
								p 2 мягкие, но упругие подушки под спину в форме перевернутых трапеций создают дополнительный комфорт. Современный наполнитель – синтетическое волокно и поролоновая крошка надолго сохраняют форму. На ночь подушки можно убрать в бельевой короб. Чехлы подушек – съемные, на молнии: «бегунок» скрыт, что предотвращает повреждение ткани.
								h4 Чехол
								p Чехол посадочной части полностью съемный, что делает диван-кровать Lily практичным в уходе. Мебельные липучки обеспечивают надежную фиксацию чехла к основанию дивана. Ткань Casanova – микрофибра (100% полиэстер) с мягким ворсом и пластичной структурой из тончайших полимерных волокон. Внешне похожа на натуральную замшу. Главная особенность – покрытие Ever Clean Plus: создает водоотталкивающий эффект и делает ткань устойчивой к маслянистым и водным загрязнениям. Покрытие не стирается при химчистке. Безопасно для человека, сохраняет свойства ткани.
								br
								p Casanova практична в уходе: стойкие загрязнения легко удалить – тефлоновое покрытие не пропускает их внутрь волокна.
								br
								p Диван-кровать Lily: динамичный дизайн – для новых граней комфорта!
							button.popup__close.single-product__desc-close
								+icon('exit', 'popup__close-icon')


						.reviews.single-product__reviews.popup.popup--mobile#reviews(data-name="reviews" data-lock-width="991")
							.reviews__common
								.reviews__common-header
									.reviews__common-inf
										h3.title3.reviews__title3
											| Отзывы
											sup.reviews__common-count 24
										.reviews__rate
											.rate
												.rate__stars
													span.rate__star 
													span.rate__star 
													span.rate__star 
													span.rate__star 
													span.rate__star 
													.rate__active(style="width: 90%;")
														span.rate__star 
														span.rate__star 
														span.rate__star 
														span.rate__star 
														span.rate__star
											span.reviews__rate-value 4.9
									button.btn.reviews__add-btn Добавить отзыв
								.reviews__common-images.swiper
									.swiper-wrapper
										.swiper-slide(data-src="temp/single-products/reviews/all/1.jpg")
											img.reviews__common-img(src="temp/single-products/reviews/all/1.jpg")
										.swiper-slide(data-src="temp/single-products/reviews/all/2.jpg")
											img.reviews__common-img(src="temp/single-products/reviews/all/2.jpg")
										.swiper-slide(data-src="temp/single-products/reviews/all/3.jpg")
											img.reviews__common-img(src="temp/single-products/reviews/all/3.jpg")
										.swiper-slide(data-src="temp/single-products/reviews/all/4.jpg")
											img.reviews__common-img(src="temp/single-products/reviews/all/4.jpg")
										.swiper-slide(data-src="temp/single-products/reviews/all/5.jpg")
											img.reviews__common-img(src="temp/single-products/reviews/all/5.jpg")
										.swiper-slide(data-src="temp/single-products/reviews/all/6.jpg")
											img.reviews__common-img(src="temp/single-products/reviews/all/6.jpg")
										.swiper-slide(data-src="temp/single-products/reviews/all/7.jpg")
											img.reviews__common-img(src="temp/single-products/reviews/all/7.jpg")
										.swiper-slide(data-src="temp/single-products/reviews/all/1.jpg")
											img.reviews__common-img(src="temp/single-products/reviews/all/1.jpg")
										.swiper-slide(data-src="temp/single-products/reviews/all/2.jpg")
											img.reviews__common-img(src="temp/single-products/reviews/all/2.jpg")
									.swiper-scrollbar.reviews__common-scrollbar
								.reviews__common-footer
							.reviews__list
								.review.reviews__item
									.title4.review__author Анна
									.review__meta
										.rate
											.rate__stars
												span.rate__star 
												span.rate__star 
												span.rate__star 
												span.rate__star 
												span.rate__star 
												.rate__active(style="width: 100%;")
													span.rate__star 
													span.rate__star 
													span.rate__star 
													span.rate__star 
													span.rate__star
										span.text.review__date 18 декабря 2020
									.review__content
										p.text.review__text Приобретали данную кровать в комплекте с матрасом sleep style form. Кровать просто потрясающая! Основание с лёгкостью поднимается, места для хранения вещей под кроватью предостаточно))) покупкой очень довольны! Огромное спасибо менеджеру Хацкевич Анне! Анна была очень внимательна к нашим пожеланиям и помогла нам выбрать подходящую модель кровати!
									.review__images
										a.review__item(href="temp/single-products/reviews/1/1.jpg")
											img.review__img(src="temp/single-products/reviews/1/1.jpg")
										a.review__item(href="temp/single-products/reviews/1/2.jpg")
											img.review__img(src="temp/single-products/reviews/1/2.jpg")
										a.review__item(href="temp/single-products/reviews/1/3.jpg")
											img.review__img(src="temp/single-products/reviews/1/3.jpg")
									.review__footer
										span.review__footer-text Полезный отзыв?
										button.review__like
											+icon('polezni_otziv', 'icon--primary icon-btn__icon')
										span.review__likes-value 1
										button.link.link--line.review__reply Ответить

								.review.reviews__item
									.title4.review__author Сергей
									.review__meta
										.rate
											.rate__stars
												span.rate__star 
												span.rate__star 
												span.rate__star 
												span.rate__star 
												span.rate__star 
												.rate__active(style="width: 100%;")
													span.rate__star 
													span.rate__star 
													span.rate__star 
													span.rate__star 
													span.rate__star
										span.text.review__date 14 ноября 2021
									.review__content
										p.text.review__text Приобретали данную кровать в комплекте с матрасом sleep style form. Кровать просто потрясающая! Основание с лёгкостью поднимается, места для хранения вещей под кроватью предостаточно))) покупкой очень довольны! Огромное спасибо менеджеру Хацкевич Анне! Анна была очень внимательна к нашим пожеланиям и помогла нам выбрать подходящую модель кровати!
									.review__images
										a.review__item(href="temp/single-products/reviews/2/1.jpg")
											img.review__img(src="temp/single-products/reviews/2/1.jpg")
										a.review__item(href="temp/single-products/reviews/2/2.jpg")
											img.review__img(src="temp/single-products/reviews/2/2.jpg")
										a.review__item(href="temp/single-products/reviews/2/3.jpg")
											img.review__img(src="temp/single-products/reviews/2/3.jpg")
										a.review__item(href="temp/single-products/reviews/2/4.jpg")
											img.review__img(src="temp/single-products/reviews/2/4.jpg")
									.review__footer
										span.review__footer-text Полезный отзыв?
										button.review__like
											+icon('polezni_otziv', 'icon--primary icon-btn__icon')
										span.review__likes-value 4
										button.link.link--line.review__reply Ответить

								.review.reviews__item
									.title4.review__author Иван
									.review__meta
										.rate
											.rate__stars
												span.rate__star 
												span.rate__star 
												span.rate__star 
												span.rate__star 
												span.rate__star 
												.rate__active(style="width: 100%;")
													span.rate__star 
													span.rate__star 
													span.rate__star 
													span.rate__star 
													span.rate__star
										span.text.review__date 04 февраля 2022
									.review__content
										p.text.review__text Приобретали данную кровать в комплекте с матрасом sleep style form. Кровать просто потрясающая! Основание с лёгкостью поднимается, места для хранения вещей под кроватью предостаточно))) покупкой очень довольны! Огромное спасибо менеджеру Хацкевич Анне! Анна была очень внимательна к нашим пожеланиям и помогла нам выбрать подходящую модель кровати!
									.review__images
										a.review__item(href="temp/single-products/reviews/1/1.jpg")
											img.review__img(src="temp/single-products/reviews/1/1.jpg")
										a.review__item(href="temp/single-products/reviews/1/2.jpg")
											img.review__img(src="temp/single-products/reviews/1/2.jpg")
										a.review__item(href="temp/single-products/reviews/1/3.jpg")
											img.review__img(src="temp/single-products/reviews/1/3.jpg")
									.review__footer
										span.review__footer-text Полезный отзыв?
										button.review__like
											+icon('polezni_otziv', 'icon--primary icon-btn__icon')
										span.review__likes-value 1
										button.link.link--line.review__reply Ответить

							button.btn.btn--dark.reviews__more Показать ещё (22)
							button.popup__close.single-product__reviews-close
								+icon('exit', 'popup__close-icon')

					aside.single-product__sidebar
						.single-product__info
							.single-product__icon-btns
								button.icon-btn.icon-btn--gray.single-product__icon-btn
									+icon('sravnenie', 'icon-btn__icon')
								button.wishlist-btn.single-product__icon-btn
									+icon('izbrannoe', 'wishlist-btn__icon')
							h1.title2.single-product__title DayNight Nova
							.text.single-product__code Код товара: 13241
							.single-product__event
								| До конца акции осталось:
								span.single-product__event-value 3 дня 10:16:31
							.single-product__price
								span.price-new.single-product__price-value 874 197 ₸
								span.price-old.single-product__price-old 1 456 995 ₸
								span.discount.single-product__discount
									| -45%
									+icon('skidka', 'discount__bg')
							.text.single-product__installment
								| Рассрочка от
								span.single-product__installment-value 1200 ₸
							.text.single-product__scores
								+icon('bonusi', 'icon--primary single-product__scores-icon')
								span.single-product__scores-value + 1590
								| бонусных баллов за покупку
							.single-product__form
								.single-product__form-group
									.single-product__form-text Размер:
									.select.single-product__select
										select.select__field
											option(value="140x220") 140 см х 220 см 
											option(value="141x220") 141 см х 220 см 
											option(value="142x220") 142 см х 220 см
										+icon('arrow_right', 'icon--primary select__icon')
								.single-product__form-group
									.single-product__form-text Вариант:
									button.variation-field.single-product__form-variation.js-open-popup(data-popup-name="configure-1")
										img.variation-field__img(src="temp/single-products/divany/1.jpg" alt="")
										| Серый, микровелюр
										+icon('arrow_right', 'icon--primary variation-field__arrow')
								.single-product__form-group
									.single-product__form-text Вариант:
									button.variation-field.single-product__form-variation.js-open-popup(data-popup-name="configure-2")
										img.variation-field__img(src="temp/single-products/divany/1.jpg" alt="")
										| Серый, микровелюр
										+icon('arrow_right', 'icon--primary variation-field__arrow')
								.single-product__form-btns
									button.btn.btn--gray.single-product__form-btn.js-open-product-config
										+icon('configurator', 'icon--gray btn__icon')
										| Изменить конфигурацию
									.single-product__form-btn-group
										button.btn.single-product__form-btn Добавить в корзину
										button.btn.btn--neutral.single-product__form-btn Купить в 1 клик
									button.btn.btn--neutral.single-product__form-btn.single-product__form-btn--installment Рассрочка/Кредит
									.single-product__form-footer
										.text.single-product__addition
											| В наличии:
											span.single-product__have 12
										.text.single-product__addition
											| Под заказ: 
											span.single-product__delivery-time 10 дней
							.single-product__menu
								.single-product__menu-item
									a.single-product__menu-link.single-product__menu-link--recommend(href="#")
										+icon('rekomenduem', 'icon--primary single-product__menu-icon')
										| Мы рекомендуем к товару
										+icon('arrow_right', 'icon--primary single-product__menu-arrow')
								.single-product__menu-item
									a.single-product__menu-link.single-product__menu-link--delivery(href="#")
										+icon('dostavka', 'icon--primary single-product__menu-icon')
										| Доставка и самовывоз
										+icon('arrow_right', 'icon--primary single-product__menu-arrow')
								.single-product__menu-item
									a.single-product__menu-link.js-open-popup(href="#details" data-popup-name="details")
										+icon('harakteristiki', 'icon--stroke-primary single-product__menu-icon')
										| Характеристики
										+icon('arrow_right', 'icon--primary single-product__menu-arrow')
								.single-product__menu-item
									a.single-product__menu-link.js-open-popup(href="#desc" data-popup-name="desc")
										+icon('opisanie', 'icon--stroke-primary single-product__menu-icon')
										| Описание
										+icon('arrow_right', 'icon--primary single-product__menu-arrow')
								.single-product__menu-item
									a.single-product__menu-link.js-open-popup(href="#reviews" data-popup-name="reviews")
										+icon('otzyvy', 'icon--stroke-primary single-product__menu-icon')
										| Отзывы (24)
										+icon('arrow_right', 'icon--primary single-product__menu-arrow')
							.single-product__aside-footer
								.title3 Заинтересовал товар?
								.text.single-product__aside-footer-text Вы можете пообщаться по видео с нашим продавцом. Он покажет товар онлайн и ответит на ваши вопросы. Вам не понадобиться включать камеру.
								button.btn.btn--black.single-product__video-btn
									+icon('pozvonit_video', 'icon--white btn__icon')
									| Позвонить по видео

		section.section.products.products--viewed
			.container
				h2.title2.products__title Вы смотрели
				.products__slider
					.products__slider-main.js-products-slider.swiper(data-loop="false")
						.swiper-wrapper
							each i in [13, 11, 7, 12, 1, 2, 3]
								.swiper-slide
									+card(i, {class: 'product--slide products__slider-item', discount_class: 'discount--white'})
						.swiper-scrollbar.products__slider-scrollbar

	.popup(data-name="configure-1" data-lock-width="767")
		.popup__content.configure
			.configure__content
				.configure__header
					.configure__title Цвет обивки, материал
				.configure__main.js-custom-scrollbar
					.configure__list
						.configure__item.configure__item--active.is-selected
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors/1.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet
								.configure__item-desc Серый <br> Микровелюр
								.price-new.configure__item-price 25 000 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors/2.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Arbus
								.configure__item-desc Серый <br> Рогожка
								.price-new.configure__item-price 27 000 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors/3.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Casanova
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 23 400 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors/4.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 23
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 21 100 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors/5.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 15
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 17 600 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors/6.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Bluemarin
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 18 900 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors/7.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 23
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 21 100 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors/8.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 15
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 17 600 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors/9.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Bluemarin
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 18 900 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors/4.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 23
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 21 100 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors/5.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 15
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 17 600 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors/6.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Bluemarin
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 18 900 ₸
								.status.status--have.configure__item-status В наличии
				.configure__footer
					button.btn.configure__btn В корзину  +25 000 ₸
					button.btn.btn--transparent.configure__btn Выбрать

				button.popup__close.configure__close
					+icon('exit', 'popup__close-icon')

	.popup(data-name="configure-2" data-lock-width="767")
		.popup__content.configure
			.configure__content
				.configure__header
					.configure__title Цвет обивки, материал
				.configure__main.js-custom-scrollbar
					.configure__list
						.configure__item.configure__item--active.is-selected
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/1.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet
								.configure__item-desc Серый <br> Микровелюр
								.price-new.configure__item-price 25 000 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/2.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Arbus
								.configure__item-desc Серый <br> Рогожка
								.price-new.configure__item-price 27 000 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/3.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Casanova
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 23 400 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/4.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 23
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 21 100 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/5.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 15
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 17 600 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/6.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Bluemarin
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 18 900 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/7.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 23
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 21 100 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/8.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 15
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 17 600 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/9.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Bluemarin
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 18 900 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/4.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 23
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 21 100 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/5.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 15
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 17 600 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/6.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Bluemarin
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 18 900 ₸
								.status.status--have.configure__item-status В наличии
				.configure__footer
					button.btn.configure__btn В корзину  +25 000 ₸
					button.btn.btn--transparent.configure__btn Выбрать

			button.popup__close.configure__close
				+icon('exit', 'popup__close-icon')

	.product-config
		.product-config__content
			.product-config__left
				button.product-config__close
					+icon('arrow_left', 'icon--primary product-config__close-arrow')
					span.product-config__close-text Назад к товару
				.title2.product-config__title DayNight Nova
				.product-config__price
					span.price-new.product-config__price-value 874 197 ₸
					span.price-old.product-config__price-old 1 456 995 ₸
					span.discount.product-config__discount
						| -45%
						+icon('skidka', 'discount__bg')
				img.product-config__img(src="temp/single-products/divany/1.jpg" alt="")
				.product-config__play-btns
					button.btn-play.single-product__play-btn
						+icon('play_video', 'btn-play__icon')
					button.btn-360.single-product__play-btn
						+icon('360', 'btn-360__icon')
			.product-config__right.js-custom-scrollbar(data-min-width="992")
				button.dark-text.product-config__btn.product-config__btn--mobile.js-open-popup(data-popup-name="product-config-1")
					| Обивка
					+icon('arrow_right', 'icon--primary product-config__btn-arrow')
				button.dark-text.product-config__btn.product-config__btn--mobile.js-open-popup(data-popup-name="product-config-2")
					| Опции
					+icon('arrow_right', 'icon--primary product-config__btn-arrow')

				.product-config__title2.product-config__title2--desktop Обивка
				button.dark-text.product-config__btn.js-open-popup(data-popup-name="product-config-1")
					| Цвет
					+icon('arrow_right', 'icon--primary product-config__btn-arrow')
				button.dark-text.product-config__btn.js-open-popup(data-popup-name="product-config-1")
					| Материал
					+icon('arrow_right', 'icon--primary product-config__btn-arrow')

				.product-config__title2.product-config__title2--desktop Опции
				button.dark-text.product-config__btn.js-open-popup(data-popup-name="product-config-2")
					| Измененить размер спального места
					+icon('arrow_right', 'icon--primary product-config__btn-arrow')
				button.dark-text.product-config__btn.js-open-popup(data-popup-name="product-config-2")
					| Измененить жесткость матраса
					+icon('arrow_right', 'icon--primary product-config__btn-arrow')
				button.dark-text.product-config__btn.js-open-popup(data-popup-name="product-config-2")
					| Выбрать угол дивана
					+icon('arrow_right', 'icon--primary product-config__btn-arrow')
				button.dark-text.product-config__btn.js-open-popup(data-popup-name="product-config-2")
					| Размер угловой секции
					+icon('arrow_right', 'icon--primary product-config__btn-arrow')
				button.dark-text.product-config__btn.js-open-popup(data-popup-name="product-config-2")
					| Подлокотник
					+icon('arrow_right', 'icon--primary product-config__btn-arrow')

				.product-config__title2 Характеристики
				.product-config__properties
					.product-config__property
						span.dark-text.product-config__property-text Размер:
						span.product-config__property-value Высота 85 см  х  Ширина 105 см  х  Длина 227 см
					.product-config__property
						span.dark-text.product-config__property-text Спальное место:
						span.product-config__property-value Высота 44 см  х  Ширина 143 см  х  Длина 206 см
				button.btn.product-config__submit Добавить в корзину

	.popup(data-name="product-config-1" data-lock-width="767")
		.popup__content.configure
			.configure__content
				.configure__mobile-info
					button.popup__close.configure__back-btn
						+icon('arrow_right', 'configure__back-btn-arrow')
					.configure__mobile-img-box
						img.configure__mobile-img(src="temp/single-products/divany/1.jpg")
						button.full-btn.configure__full-btn(data-src="temp/single-products/divany/1.jpg")
							+icon('arrow_left', 'full-btn__arrow full-btn__arrow--left')
							+icon('arrow_right', 'full-btn__arrow full-btn__arrow--right')
					.price-new.configure__mobile-price 874 197 ₸
				.configure__header.configure__header--border
					.configure__title Обивка
				.configure__main.js-custom-scrollbar
					.configure__filters
						button.filter-btn.configure__filter-btn(type="button")
							| Цвет
							+icon('arrow_right', 'icon--primary filter-btn__icon')
						button.filter-btn.configure__filter-btn(type="button")
							| Материал
							+icon('arrow_right', 'icon--primary filter-btn__icon')
						.select.select--sort.configure__sort
							select.select__field
								option(value="popular") Самые популярные
								option(value="new") Самые новые
								option(value="price") Самые недорогие
								option(value="price") Самые дорогие
							+icon('arrow_right', 'icon--primary select__icon')
					.configure__list
						.configure__item.configure__item--active.is-selected
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/1.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet
								.configure__item-desc Серый <br> Микровелюр
								.price-new.configure__item-price 925 000 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/2.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Arbus
								.configure__item-desc Серый <br> Рогожка
								.price-new.configure__item-price 927 000 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/3.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Casanova
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 923 400 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/4.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 23
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 921 100 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/5.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 15
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 917 600 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/6.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Bluemarin
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 918 900 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/7.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 23
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 21 100 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/8.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 15
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 17 600 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/9.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Bluemarin
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 18 900 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/4.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 23
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 921 100 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/5.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Sky Velvet 15
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 917 600 ₸
								.status.status--have.configure__item-status В наличии

						.configure__item
							a.configure__item-img-box.configure__item-btn(href="#") 
								img.configure__item-img(src="temp/single-products/divany/colors-2/6.jpg" alt="")
							.configure__item-inf
								a.configure__item-name.configure__item-btn(href="#")  Bluemarin
								.configure__item-desc Шоколадный <br> Микровелюр
								.price-new.configure__item-price 918 900 ₸
								.status.status--have.configure__item-status В наличии
				.configure__footer.configure__footer--vertical
					button.btn.configure__btn Применить фильтр
					button.btn.btn--neutral.configure__btn.configure__btn--reset Сбросить фильтр

			button.popup__close.configure__close.configure__close--desktop
				+icon('exit', 'popup__close-icon')

	.popup(data-name="product-config-2" data-lock-width="767")
		.popup__content.configure
			.configure__content
				.configure__mobile-info
					button.popup__close.configure__back-btn
						+icon('arrow_right', 'configure__back-btn-arrow')
					.configure__mobile-img-box
						img.configure__mobile-img(src="temp/single-products/divany/1.jpg")
						button.full-btn.configure__full-btn(data-src="temp/single-products/divany/1.jpg")
							+icon('arrow_left', 'full-btn__arrow full-btn__arrow--left')
							+icon('arrow_right', 'full-btn__arrow full-btn__arrow--right')
					.price-new.configure__mobile-price 874 197 ₸
				.configure__header.configure__header--border
					.configure__title Опции
				.configure__main.js-custom-scrollbar
					.configure__options
						.dark-text.configure__options-text Размер спального места:
						.configure__options-list
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="size" checked)
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text 140 см
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="size")
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text 145 см
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="size")
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text 150 см
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="size")
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text 155 см
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="size")
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text 180 см
					.configure__options
						.dark-text.configure__options-text Жесткость матраса:
						.configure__options-list
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="stiffness" checked)
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text Средний
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="stiffness")
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text Жесткий
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="stiffness")
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text Мягкий
					.configure__options
						.dark-text.configure__options-text Угол дивана:
						.configure__options-list
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="corner")
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text Левый
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="corner" checked)
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text Правый
					.configure__options
						.dark-text.configure__options-text Размер угловой секции:
						.configure__options-list
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="corner-size")
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text 70 см
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="corner-size")
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text 80 см
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="corner-size" checked)
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text 90 см
					.configure__options
						.dark-text.configure__options-text Подлокотник:
						.configure__options-list
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="armrest")
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text Нет
							label.configure__options-item.checkbox.checkbox--accept.checkbox--full
								input.checkbox__input(type="radio" name="armrest" checked)
								.checkbox__switcher
									+icon('check', 'checkbox__icon')
								.checkbox__text Есть
				.configure__footer.configure__footer--vertical
					button.btn.configure__btn Применить фильтр
					button.btn.btn--neutral.configure__btn.configure__btn--reset Сбросить фильтр

			button.popup__close.configure__close.configure__close--desktop
				+icon('exit', 'popup__close-icon')