extends layouts/_layout.pug

block vars
    - var header_name = 'lk'
    - var bottom_menu_link = 'profile'
    - var is_login = true

block title
    | Кабинет - Сравнение

block content
    main.main.main--lk
        .container
            .lk
                .lk__main
                    .compare
                        h1.title2.lk__title
                            | Сравнение
                            .value.lk__mobile-count 16
                            +icon('arrow_right', 'icon--primary lk__title-arrow')
                        .compare__filters
                            span.text.compare__count Товаров: 16
                            label.checkbox.checkbox--accept.compare__filter-diff
                                input.checkbox__input(type="checkbox" name="accept" checked)
                                .checkbox__switcher
                                    +icon('check', 'checkbox__icon')
                                .checkbox__text Показывать только различия
                            button.btn.btn--transparent.compare__filter-btn Очистить список
                        .tabs.compare__tabs.compare__tabs--desktop
                            .tabs__btns.compare__tabs-btns
                                button.tabs__btn.tabs__btn--active.compare__tabs-btn
                                    span.compare__tabs-btn-text Диваны
                                    sup.compare__tabs-btn-value 11
                                button.tabs__btn.compare__tabs-btn
                                    span.compare__tabs-btn-text Матрасы
                                    sup.compare__tabs-btn-value 3
                                button.tabs__btn.compare__tabs-btn
                                    span.compare__tabs-btn-text Кровати
                                    sup.compare__tabs-btn-value 2
                            .tabs__list.compare__tabs-list
                                .tabs__item.tabs__item--active
                                    .compare__slider
                                        .compare__slider-main.swiper
                                            .swiper-wrapper
                                                .swiper-slide.compare__slide
                                                    +compare_item(13, {
                                                        rate_value: '4.9',
                                                        rate_count: '24',
                                                        details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                        details_values: ['Нет', 'Askona', 'Китай', '60 см.', 'до 80 кг.'],
                                                        show_details_names: true
                                                    })
                                                .swiper-slide.compare__slide
                                                    +compare_item(4, {
                                                        rate_value: '4.7',
                                                        rate_count: '15',
                                                        details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                        show_details_names: true
                                                    })
                                                .swiper-slide.compare__slide
                                                    +compare_item(6, {
                                                        rate_value: '4.9',
                                                        rate_count: '24',
                                                        details_values: ['Нет', 'Askona', 'Вьетнам', '60 см.', 'до 80 кг.'],
                                                        show_details_names: true
                                                    })
                                                .swiper-slide.compare__slide
                                                    +compare_item(8, {
                                                        rate_value: '4.7',
                                                        rate_count: '15',
                                                        details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                        show_details_names: true
                                                    })
                                                .swiper-slide.compare__slide
                                                    +compare_item(10, {
                                                        rate_value: '4.9',
                                                        rate_count: '24',
                                                        details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                        show_details_names: true
                                                    })
                                                .swiper-slide.compare__slide
                                                    +compare_item(1, {
                                                        rate_value: '4.7',
                                                        rate_count: '15',
                                                        details_values: ['Нет', 'Askona', 'Китай', '60 см.', 'до 80 кг.'],
                                                        show_details_names: true
                                                    })
                                                .swiper-slide.compare__slide
                                                    +compare_item(7, {
                                                        rate_value: '4.9',
                                                        rate_count: '24',
                                                        details_values: ['Нет', 'Askona', 'Вьетнам', '60 см.', 'до 80 кг.'],
                                                        show_details_names: true
                                                    })
                                        .compare__slider-navigation
                                            button.btn-next.compare__slider-next
                                                +icon('arrow_right', 'icon--primary btn-next__icon')
                                            button.btn-prev.compare__slider-prev
                                                +icon('arrow_left', 'icon--primary btn-prev__icon')
                                .tabs__item.compare__tabs-item
                                    .compare__slider
                                        .compare__slider-main.swiper
                                            .swiper-wrapper
                                                .swiper-slide.compare__slide
                                                    +compare_item(14, {
                                                        rate_value: '4.9',
                                                        rate_count: '24',
                                                        details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                        details_values: ['Нет', 'Askona', 'Китай', '60 см.', 'до 80 кг.'],
                                                        show_details_names: true
                                                    })
                                                .swiper-slide.compare__slide
                                                    +compare_item(15, {
                                                        rate_value: '4.7',
                                                        rate_count: '15',
                                                        details_values: ['Нет', 'Askona', 'Вьетнам', '60 см.', 'до 80 кг.'],
                                                        show_details_names: true
                                                    })
                                                .swiper-slide.compare__slide
                                                    +compare_item(16, {
                                                        rate_value: '4.9',
                                                        rate_count: '24',
                                                        details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                        show_details_names: true
                                                    })
                                        .compare__slider-navigation
                                            button.btn-next.compare__slider-next
                                                +icon('arrow_right', 'icon--primary btn-next__icon')
                                            button.btn-prev.compare__slider-prev
                                                +icon('arrow_left', 'icon--primary btn-prev__icon')
                                .tabs__item.compare__tabs-item
                                    .compare__slider
                                        .compare__slider-main.swiper
                                            .swiper-wrapper
                                                .swiper-slide.compare__slide
                                                    +compare_item(1, {
                                                        rate_value: '4.9',
                                                        rate_count: '24',
                                                        details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                        details_values: ['Нет', 'Askona', 'Китай', '60 см.', 'до 80 кг.'],
                                                        show_details_names: true
                                                    })
                                                .swiper-slide.compare__slide
                                                    +compare_item(2, {
                                                        rate_value: '4.7',
                                                        rate_count: '15',
                                                        details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                        show_details_names: true
                                                    })
                                        .compare__slider-navigation
                                            button.btn-next.compare__slider-next
                                                +icon('arrow_right', 'icon--primary btn-next__icon')
                                            button.btn-prev.compare__slider-prev
                                                +icon('arrow_left', 'icon--primary btn-prev__icon')
                                                
                        .tabs.compare__tabs.compare__tabs--mobile
                            .tabs__btns.compare__tabs-btns
                                button.tabs__btn.tabs__btn--active.compare__tabs-btn(data-delay="250")
                                    span.compare__tabs-btn-text Диваны
                                    sup.compare__tabs-btn-value 11
                                button.tabs__btn.compare__tabs-btn(data-delay="250")
                                    span.compare__tabs-btn-text Матрасы
                                    sup.compare__tabs-btn-value 3
                                button.tabs__btn.compare__tabs-btn(data-delay="250")
                                    span.compare__tabs-btn-text Кровати
                                    sup.compare__tabs-btn-value 2
                            .tabs__list.compare__tabs-list
                                .tabs__item.tabs__item--active
                                    .compare__mobile-sliders
                                        .compare__mobile-slider
                                            .compare__mobile-slider-main.swiper
                                                .swiper-wrapper
                                                    .swiper-slide.compare__slide
                                                        +compare_item(13, {
                                                            rate_value: '4.9',
                                                            rate_count: '24',
                                                            details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                            details_values: ['Нет', 'Askona', 'Китай', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(4, {
                                                            rate_value: '4.7',
                                                            rate_count: '15',
                                                            details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                            details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(6, {
                                                            rate_value: '4.9',
                                                            rate_count: '24',
                                                            details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                            details_values: ['Нет', 'Askona', 'Вьетнам', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(8, {
                                                            rate_value: '4.7',
                                                            rate_count: '15',
                                                            details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                            details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(10, {
                                                            rate_value: '4.9',
                                                            rate_count: '24',
                                                            details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                            details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(1, {
                                                            rate_value: '4.7',
                                                            rate_count: '15',
                                                            details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                            details_values: ['Нет', 'Askona', 'Китай', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(7, {
                                                            rate_value: '4.9',
                                                            rate_count: '24',
                                                            details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                            details_values: ['Нет', 'Askona', 'Вьетнам', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                .compare__mobile-slider-fraction
                                                .swiper-pagination.compare__mobile-slider-pagination

                                        .compare__mobile-slider
                                            .compare__mobile-slider-main.swiper(data-initial-slide=1)
                                                .swiper-wrapper
                                                    .swiper-slide.compare__slide
                                                        +compare_item(13, {
                                                            rate_value: '4.9',
                                                            rate_count: '24',
                                                            details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                            details_values: ['Нет', 'Askona', 'Китай', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(4, {
                                                            rate_value: '4.7',
                                                            rate_count: '15',
                                                            details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(6, {
                                                            rate_value: '4.9',
                                                            rate_count: '24',
                                                            details_values: ['Нет', 'Askona', 'Вьетнам', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(8, {
                                                            rate_value: '4.7',
                                                            rate_count: '15',
                                                            details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(10, {
                                                            rate_value: '4.9',
                                                            rate_count: '24',
                                                            details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(1, {
                                                            rate_value: '4.7',
                                                            rate_count: '15',
                                                            details_values: ['Нет', 'Askona', 'Китай', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(7, {
                                                            rate_value: '4.9',
                                                            rate_count: '24',
                                                            details_values: ['Нет', 'Askona', 'Вьетнам', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                .compare__mobile-slider-fraction
                                                .swiper-pagination.compare__mobile-slider-pagination

                                .tabs__item.compare__tabs-item
                                    .compare__mobile-sliders
                                        .compare__mobile-slider
                                            .compare__mobile-slider-main.swiper
                                                .swiper-wrapper
                                                    .swiper-slide.compare__slide
                                                        +compare_item(14, {
                                                            rate_value: '4.9',
                                                            rate_count: '24',
                                                            details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                            details_values: ['Нет', 'Askona', 'Китай', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(15, {
                                                            rate_value: '4.7',
                                                            rate_count: '15',
                                                            details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                            details_values: ['Нет', 'Askona', 'Вьетнам', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(16, {
                                                            rate_value: '4.9',
                                                            rate_count: '24',
                                                            details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                            details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                .compare__mobile-slider-fraction
                                                .swiper-pagination.compare__mobile-slider-pagination
                                        .compare__mobile-slider
                                            .compare__mobile-slider-main.swiper(data-initial-slide=1)
                                                .swiper-wrapper
                                                    .swiper-slide.compare__slide
                                                        +compare_item(14, {
                                                            rate_value: '4.9',
                                                            rate_count: '24',
                                                            details_values: ['Нет', 'Askona', 'Китай', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(15, {
                                                            rate_value: '4.7',
                                                            rate_count: '15',
                                                            details_values: ['Нет', 'Askona', 'Вьетнам', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(16, {
                                                            rate_value: '4.9',
                                                            rate_count: '24',
                                                            details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                .compare__mobile-slider-fraction
                                                .swiper-pagination.compare__mobile-slider-pagination

                                .tabs__item.compare__tabs-item
                                    .compare__mobile-sliders
                                        .compare__mobile-slider
                                            .compare__mobile-slider-main.swiper
                                                .swiper-wrapper
                                                    .swiper-slide.compare__slide
                                                        +compare_item(1, {
                                                            rate_value: '4.9',
                                                            rate_count: '24',
                                                            details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                            details_values: ['Нет', 'Askona', 'Китай', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(2, {
                                                            rate_value: '4.7',
                                                            rate_count: '15',
                                                            details_names: ['Бельевой короб', 'Бренд', 'Страна производитель', 'Глубина посадки', 'Макс. нагрузка, кг'],
                                                            details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                .compare__mobile-slider-fraction
                                                .swiper-pagination.compare__mobile-slider-pagination
                                        .compare__mobile-slider
                                            .compare__mobile-slider-main.swiper(data-initial-slide=1)
                                                .swiper-wrapper
                                                    .swiper-slide.compare__slide
                                                        +compare_item(1, {
                                                            rate_value: '4.9',
                                                            rate_count: '24',
                                                            details_values: ['Нет', 'Askona', 'Китай', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                    .swiper-slide.compare__slide
                                                        +compare_item(2, {
                                                            rate_value: '4.7',
                                                            rate_count: '15',
                                                            details_values: ['Нет', 'Askona', 'Россия', '60 см.', 'до 80 кг.'],
                                                            show_details_names: true
                                                        })
                                                .compare__mobile-slider-fraction
                                                .swiper-pagination.compare__mobile-slider-pagination