extends layouts/_layout.pug

block title
    | Кабинет - Сравнение

block content
    main.main
        .container
            .lk
                .lk__main
                    .compare
                        h1.title2.compare__title Сравнение
                        .compare__filters
                            span.text.compare__count Товаров: 16
                            label.checkbox.checkbox--accept.compare__filter-diff
                                input.checkbox__input(type="checkbox" name="accept" checked)
                                .checkbox__switcher
                                    +icon('check', 'checkbox__icon')
                                .checkbox__text Показывать только различия
                            button.btn.btn--transparent.compare__filter-btn Очистить список
                        .tabs.compare__tabs
                            .tabs__btns.compare__tabs-btns
                                button.tabs__btn.tabs__btn--active.compare__tabs-btn
                                    span.compare__tabs-btn-text Диваны
                                    sup.compare__tabs-btn-value 11
                                button.tabs__btn.compare__tabs-btn
                                    span.compare__tabs-btn-text Матрасы
                                    sup.compare__tabs-btn-value 3
                                button.tabs__btn.compare__tabs-btn
                                    span.compare__tabs-btn-text Кровати
                                    sup.compare__tabs-btn-value 2
                            .tabs__list.compare__tabs-list
                                .tabs__item.tabs__item--active
                                    .compare__slider
                                        .compare__slider-main.swiper
                                            .swiper-wrapper
                                                .swiper-slide.compare__slide
                                                    .compare-item.compare__item
                                                        +card_favorite(13, { class: 'product--no-hover compare-item__product' })
                                                        .compare-item__reviews
                                                            .rate.compare-item__rate
                                                                .rate__stars
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    .rate__active(style="width: 90%;")
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star
                                                            .dark-text.compare-item__rate-value 4.9
                                                            .compare-item__reviews-count
                                                                | Отзывов:
                                                                span.compare-item__reviews-count-value 24
                                                        .compare-item__details
                                                            .compare-item__detail
                                                                .compare-item__detail-text Бельевой короб:
                                                                .compare-item__detail-value Нет
                                                            .compare-item__detail
                                                                .compare-item__detail-text Бренд:
                                                                .compare-item__detail-value Askona
                                                            .compare-item__detail
                                                                .compare-item__detail-text Страна производитель: 
                                                                .compare-item__detail-value Китай
                                                            .compare-item__detail
                                                                .compare-item__detail-text Глубина посадки:
                                                                .compare-item__detail-value 60 см.
                                                            .compare-item__detail
                                                                .compare-item__detail-text Макс. нагрузка, кг:
                                                                .compare-item__detail-value до 80 кг.
                                                .swiper-slide.compare__slide
                                                    .compare-item.compare__item
                                                        +card_favorite(4, { class: 'product--no-hover compare-item__product' })
                                                        .compare-item__reviews
                                                            .rate.compare-item__rate
                                                                .rate__stars
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    .rate__active(style="width: 90%;")
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star
                                                            .dark-text.compare-item__rate-value 4.7
                                                            .compare-item__reviews-count
                                                                | Отзывов:
                                                                span.compare-item__reviews-count-value 15
                                                        .compare-item__details
                                                            .compare-item__detail
                                                                .compare-item__detail-value Нет
                                                            .compare-item__detail
                                                                .compare-item__detail-value Askona
                                                            .compare-item__detail
                                                                .compare-item__detail-value Россия
                                                            .compare-item__detail
                                                                .compare-item__detail-value 60 см.
                                                            .compare-item__detail
                                                                .compare-item__detail-value до 80 кг.
                                                .swiper-slide.compare__slide
                                                    .compare-item.compare__item
                                                        +card_favorite(6, { class: 'product--no-hover compare-item__product' })
                                                        .compare-item__reviews
                                                            .rate.compare-item__rate
                                                                .rate__stars
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    .rate__active(style="width: 90%;")
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star
                                                            .dark-text.compare-item__rate-value 4.9
                                                            .compare-item__reviews-count
                                                                | Отзывов:
                                                                span.compare-item__reviews-count-value 24
                                                        .compare-item__details
                                                            .compare-item__detail
                                                                .compare-item__detail-value Нет
                                                            .compare-item__detail
                                                                .compare-item__detail-value Askona
                                                            .compare-item__detail
                                                                .compare-item__detail-value Вьетнам
                                                            .compare-item__detail
                                                                .compare-item__detail-value 60 см.
                                                            .compare-item__detail
                                                                .compare-item__detail-value до 80 кг.
                                                .swiper-slide.compare__slide
                                                    .compare-item.compare__item
                                                        +card_favorite(8, { class: 'product--no-hover compare-item__product' })
                                                        .compare-item__reviews
                                                            .rate.compare-item__rate
                                                                .rate__stars
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    .rate__active(style="width: 90%;")
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star
                                                            .dark-text.compare-item__rate-value 4.7
                                                            .compare-item__reviews-count
                                                                | Отзывов:
                                                                span.compare-item__reviews-count-value 15
                                                        .compare-item__details
                                                            .compare-item__detail
                                                                .compare-item__detail-value Нет
                                                            .compare-item__detail
                                                                .compare-item__detail-value Askona
                                                            .compare-item__detail
                                                                .compare-item__detail-value Россия
                                                            .compare-item__detail
                                                                .compare-item__detail-value 60 см.
                                                            .compare-item__detail
                                                                .compare-item__detail-value до 80 кг.
                                                .swiper-slide.compare__slide
                                                    .compare-item.compare__item
                                                        +card_favorite(10, { class: 'product--no-hover compare-item__product' })
                                                        .compare-item__reviews
                                                            .rate.compare-item__rate
                                                                .rate__stars
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    .rate__active(style="width: 90%;")
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star
                                                            .dark-text.compare-item__rate-value 4.9
                                                            .compare-item__reviews-count
                                                                | Отзывов:
                                                                span.compare-item__reviews-count-value 24
                                                        .compare-item__details
                                                            .compare-item__detail
                                                                .compare-item__detail-value Нет
                                                            .compare-item__detail
                                                                .compare-item__detail-value Askona
                                                            .compare-item__detail
                                                                .compare-item__detail-value Россия
                                                            .compare-item__detail
                                                                .compare-item__detail-value 60 см.
                                                            .compare-item__detail
                                                                .compare-item__detail-value до 80 кг.
                                                .swiper-slide.compare__slide
                                                    .compare-item.compare__item
                                                        +card_favorite(1, { class: 'product--no-hover compare-item__product' })
                                                        .compare-item__reviews
                                                            .rate.compare-item__rate
                                                                .rate__stars
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    .rate__active(style="width: 90%;")
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star
                                                            .dark-text.compare-item__rate-value 4.7
                                                            .compare-item__reviews-count
                                                                | Отзывов:
                                                                span.compare-item__reviews-count-value 15
                                                        .compare-item__details
                                                            .compare-item__detail
                                                                .compare-item__detail-value Нет
                                                            .compare-item__detail
                                                                .compare-item__detail-value Askona
                                                            .compare-item__detail
                                                                .compare-item__detail-value Китай
                                                            .compare-item__detail
                                                                .compare-item__detail-value 60 см.
                                                            .compare-item__detail
                                                                .compare-item__detail-value до 80 кг.
                                                .swiper-slide.compare__slide
                                                    .compare-item.compare__item
                                                        +card_favorite(7, { class: 'product--no-hover compare-item__product' })
                                                        .compare-item__reviews
                                                            .rate.compare-item__rate
                                                                .rate__stars
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    .rate__active(style="width: 90%;")
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star
                                                            .dark-text.compare-item__rate-value 4.9
                                                            .compare-item__reviews-count
                                                                | Отзывов:
                                                                span.compare-item__reviews-count-value 24
                                                        .compare-item__details
                                                            .compare-item__detail
                                                                .compare-item__detail-value Нет
                                                            .compare-item__detail
                                                                .compare-item__detail-value Askona
                                                            .compare-item__detail
                                                                .compare-item__detail-value Вьетнам
                                                            .compare-item__detail
                                                                .compare-item__detail-value 60 см.
                                                            .compare-item__detail
                                                                .compare-item__detail-value до 80 кг.
                                        .compare__slider-navigation
                                            button.btn-next.compare__slider-next
                                                +icon('arrow_right', 'icon--primary btn-next__icon')
                                            button.btn-prev.compare__slider-prev
                                                +icon('arrow_left', 'icon--primary btn-prev__icon')
                                .tabs__item
                                    .compare__slider
                                        .compare__slider-main.swiper
                                            .swiper-wrapper
                                                .swiper-slide.compare__slide
                                                    .compare-item.compare__item
                                                        +card_favorite(14, { class: 'product--no-hover compare-item__product' })
                                                        .compare-item__reviews
                                                            .rate.compare-item__rate
                                                                .rate__stars
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    .rate__active(style="width: 90%;")
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star
                                                            .dark-text.compare-item__rate-value 4.9
                                                            .compare-item__reviews-count
                                                                | Отзывов:
                                                                span.compare-item__reviews-count-value 24
                                                        .compare-item__details
                                                            .compare-item__detail
                                                                .compare-item__detail-text Бельевой короб:
                                                                .compare-item__detail-value Нет
                                                            .compare-item__detail
                                                                .compare-item__detail-text Бренд:
                                                                .compare-item__detail-value Askona
                                                            .compare-item__detail
                                                                .compare-item__detail-text Страна производитель: 
                                                                .compare-item__detail-value Китай
                                                            .compare-item__detail
                                                                .compare-item__detail-text Глубина посадки:
                                                                .compare-item__detail-value 60 см.
                                                            .compare-item__detail
                                                                .compare-item__detail-text Макс. нагрузка, кг:
                                                                .compare-item__detail-value до 80 кг.
                                                .swiper-slide.compare__slide
                                                    .compare-item.compare__item
                                                        +card_favorite(15, { class: 'product--no-hover compare-item__product' })
                                                        .compare-item__reviews
                                                            .rate.compare-item__rate
                                                                .rate__stars
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    .rate__active(style="width: 90%;")
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star
                                                            .dark-text.compare-item__rate-value 4.7
                                                            .compare-item__reviews-count
                                                                | Отзывов:
                                                                span.compare-item__reviews-count-value 15
                                                        .compare-item__details
                                                            .compare-item__detail
                                                                .compare-item__detail-value Нет
                                                            .compare-item__detail
                                                                .compare-item__detail-value Askona
                                                            .compare-item__detail
                                                                .compare-item__detail-value Вьетнам
                                                            .compare-item__detail
                                                                .compare-item__detail-value 60 см.
                                                            .compare-item__detail
                                                                .compare-item__detail-value до 80 кг.
                                                .swiper-slide.compare__slide
                                                    .compare-item.compare__item
                                                        +card_favorite(16, { class: 'product--no-hover compare-item__product' })
                                                        .compare-item__reviews
                                                            .rate.compare-item__rate
                                                                .rate__stars
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    .rate__active(style="width: 90%;")
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star
                                                            .dark-text.compare-item__rate-value 4.9
                                                            .compare-item__reviews-count
                                                                | Отзывов:
                                                                span.compare-item__reviews-count-value 24
                                                        .compare-item__details
                                                            .compare-item__detail
                                                                .compare-item__detail-value Нет
                                                            .compare-item__detail
                                                                .compare-item__detail-value Askona
                                                            .compare-item__detail
                                                                .compare-item__detail-value Россия
                                                            .compare-item__detail
                                                                .compare-item__detail-value 60 см.
                                                            .compare-item__detail
                                                                .compare-item__detail-value до 80 кг.
                                        .compare__slider-navigation
                                            button.btn-next.compare__slider-next
                                                +icon('arrow_right', 'icon--primary btn-next__icon')
                                            button.btn-prev.compare__slider-prev
                                                +icon('arrow_left', 'icon--primary btn-prev__icon')
                                .tabs__item
                                    .compare__slider
                                        .compare__slider-main.swiper
                                            .swiper-wrapper
                                                .swiper-slide.compare__slide
                                                    .compare-item.compare__item
                                                        +card_favorite(1, { class: 'product--no-hover compare-item__product' })
                                                        .compare-item__reviews
                                                            .rate.compare-item__rate
                                                                .rate__stars
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    .rate__active(style="width: 90%;")
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star
                                                            .dark-text.compare-item__rate-value 4.9
                                                            .compare-item__reviews-count
                                                                | Отзывов:
                                                                span.compare-item__reviews-count-value 24
                                                        .compare-item__details
                                                            .compare-item__detail
                                                                .compare-item__detail-text Бельевой короб:
                                                                .compare-item__detail-value Нет
                                                            .compare-item__detail
                                                                .compare-item__detail-text Бренд:
                                                                .compare-item__detail-value Askona
                                                            .compare-item__detail
                                                                .compare-item__detail-text Страна производитель: 
                                                                .compare-item__detail-value Китай
                                                            .compare-item__detail
                                                                .compare-item__detail-text Глубина посадки:
                                                                .compare-item__detail-value 60 см.
                                                            .compare-item__detail
                                                                .compare-item__detail-text Макс. нагрузка, кг:
                                                                .compare-item__detail-value до 80 кг.
                                                .swiper-slide.compare__slide
                                                    .compare-item.compare__item
                                                        +card_favorite(2, { class: 'product--no-hover compare-item__product' })
                                                        .compare-item__reviews
                                                            .rate.compare-item__rate
                                                                .rate__stars
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    span.rate__star 
                                                                    .rate__active(style="width: 90%;")
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star 
                                                                        span.rate__star
                                                            .dark-text.compare-item__rate-value 4.7
                                                            .compare-item__reviews-count
                                                                | Отзывов:
                                                                span.compare-item__reviews-count-value 15
                                                        .compare-item__details
                                                            .compare-item__detail
                                                                .compare-item__detail-value Нет
                                                            .compare-item__detail
                                                                .compare-item__detail-value Askona
                                                            .compare-item__detail
                                                                .compare-item__detail-value Россия
                                                            .compare-item__detail
                                                                .compare-item__detail-value 60 см.
                                                            .compare-item__detail
                                                                .compare-item__detail-value до 80 кг.
                                        .compare__slider-navigation
                                            button.btn-next.compare__slider-next
                                                +icon('arrow_right', 'icon--primary btn-next__icon')
                                            button.btn-prev.compare__slider-prev
                                                +icon('arrow_left', 'icon--primary btn-prev__icon')