.bottom-menu
    .bottom-menu__list
        .bottom-menu__item
            a.bottom-menu__link.bottom-menu__link--active(href="home.html")
                +icon('glavnaya', 'bottom-menu__icon')
                | Главная
        .bottom-menu__item 
            a.bottom-menu__link(href="catalog-divany.html")
                +icon('catalog', 'bottom-menu__icon bottom-menu__icon--catalog')
                | Каталог
        .bottom-menu__item 
            a.bottom-menu__link(href="order.html")
                +icon('cart', 'bottom-menu__icon')
                | Корзина
                span.bottom-menu__value 2
        .bottom-menu__item 
            a.bottom-menu__link(href="#")
                +icon('izbrannoe', 'bottom-menu__icon')
                | Избранное
        .bottom-menu__item
            button.bottom-menu__link(data-fancybox data-src="#modal-login")
                +icon('login', 'bottom-menu__icon')
                | Профиль