.catalog-menu
    ul.catalog-menu__list
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/divany.png")
                | Диваны
            +catalogSubmenu('Диваны')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/krovati.png")
                | Кровати
            +catalogSubmenu('Кровати')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/matrasi.png")
                | Матрасы
            +catalogSubmenu('Матрасы')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/odeyala.png")
                | Одеяла
            +catalogSubmenu('Одеяла')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/podushki.png")
                | Подушки
            +catalogSubmenu('Подушки')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/chekhly.png")
                | Чехлы
            +catalogSubmenu('Чехлы')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/tekstil.png")
                | Текстиль
            +catalogSubmenu('Текстиль')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/mebel.png")
                | Мебель
            +catalogSubmenu('Мебель')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/banketki.png")
                | Банкетки
            +catalogSubmenu('Банкетки')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/komody.png")
                | Комоды
            +catalogSubmenu('Комоды')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/tualetnye-stoliki.png")
                | Туалетные столики
            +catalogSubmenu('Туалетные столики')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/tumby.png")
                | Тумбы
            +catalogSubmenu('Тумбы')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/pufy.png")
                | Пуфы
            +catalogSubmenu('Пуфы')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/tovary-dlya-doma.png")
                | Товары для дома
            +catalogSubmenu('Товары для дома')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/odezhda.png")
                | Одежда
            +catalogSubmenu('Одежда')
        li.catalog-menu__item
            a.catalog-menu__link(href="#")
                +icon('akcii', 'icon--second catalog-menu__icon')
                | Акции
            +catalogSubmenu('Акции')