.catalog-menu
    .catalog-menu__list
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/divany.png")
                | Диваны
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Диваны
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/krovati.png")
                | Кровати
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Кровати
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/matrasi.png")
                | Матрасы
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Матрасы
                    .catalog-submenu__columns
                        .catalog-submenu__column
                            .catalog-submenu__title2 По категориям
                            ul.catalog-submenu__list
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") Все матрасы
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") Американские матрасы
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") Элитные матрасы
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") Круглые матрасы
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") Наматрасники
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") Детские матрасы
                        .catalog-submenu__column
                            .catalog-submenu__title2 По бренду
                            ul.catalog-submenu__list
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") Askona
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") King Koil
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") Mediflex
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") Serta
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") Sleep Professor
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") Sleep.8
                        .catalog-submenu__column
                            .catalog-submenu__title2 По размеру
                            ul.catalog-submenu__list
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") 080x200
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") 090x200
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") 120x190
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") 120x200
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") 140x190
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") 140x200
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") 160x190
                        .catalog-submenu__column
                            .catalog-submenu__title2 По свойстам
                            ul.catalog-submenu__list
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") Беспружинный
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") Блок независимых пружин
                                .catalog-submenu__item
                                    a.link.catalog-submenu__link(href="#") Зависимый (боннель)
                a.catalog-submenu__special(href="#") 
                    img.catalog-submenu__special-img(src="temp/catalog-menu/special-matrasi.png", alt="")
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/odeyala.png")
                | Одеяла
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Одеяла
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/podushki.png")
                | Подушки
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Подушки
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/chekhly.png")
                | Чехлы
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Чехлы
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/tekstil.png")
                | Текстиль
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Текстиль
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/mebel.png")
                | Мебель
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Мебель
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/banketki.png")
                | Банкетки
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Банкетки
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/komody.png")
                | Комоды
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Комоды
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/tualetnye-stoliki.png")
                | Туалетные столики
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Туалетные столики
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/tumby.png")
                | Тумбы
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Тумбы
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/pufy.png")
                | Пуфы
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Пуфы
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/tovary-dlya-doma.png")
                | Товары для дома
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Товары для дома
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                img.catalog-menu__img(src="temp/catalog-menu/categories/odezhda.png")
                | Одежда
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Одежда
        .catalog-menu__item
            a.catalog-menu__link(href="#")
                +icon('akcii', 'icon--second catalog-menu__icon')
                | Акции
            .catalog-submenu.catalog-menu__sub
                .catalog-submenu__main
                    .catalog-submenu__title Акции