mixin catalogSubmenu(name)
    .catalog-submenu.catalog-menu__sub
        .catalog-submenu__main
            .catalog-submenu__title #{name}
            .catalog-submenu__columns
                .catalog-submenu__column
                    .catalog-submenu__title2 По категориям
                    ul.catalog-submenu__list
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") Все матрасы
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") Американские матрасы
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") Элитные матрасы
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") Круглые матрасы
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") Наматрасники
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") Детские матрасы
                .catalog-submenu__column
                    .catalog-submenu__title2 По бренду
                    ul.catalog-submenu__list
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") Askona
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") King Koil
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") Mediflex
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") Serta
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") Sleep Professor
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") Sleep.8
                .catalog-submenu__column
                    .catalog-submenu__title2 По размеру
                    ul.catalog-submenu__list
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") 080x200
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") 090x200
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") 120x190
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") 120x200
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") 140x190
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") 140x200
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") 160x190
                .catalog-submenu__column
                    .catalog-submenu__title2 По свойстам
                    ul.catalog-submenu__list
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") Беспружинный
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") Блок независимых пружин
                        li.catalog-submenu__item
                            a.link.catalog-submenu__link(href="#") Зависимый (боннель)
        .catalog-submenu__special
            a.catalog-submenu__special-link(href="#") 
                img.catalog-submenu__special-img(src="temp/catalog-menu/special-matrasi.png", alt="")