mixin mobileSubmenu()
    .mobile-menu__sub
        ul.mobile-menu__sublist
            li.mobile-menu__subitem
                a.dark-text.mobile-menu__link.mobile-menu__back(href="#")
                    +icon('arrow_left', 'icon--primary mobile-menu__arrow mobile-menu__arrow--left')
                    | Назад
            li.mobile-menu__subitem
                a.dark-text.mobile-menu__link(href="#")
                    | Все матрасы
                    +icon('arrow_right', 'icon--gray mobile-menu__arrow')
            li.mobile-menu__subitem
                a.dark-text.mobile-menu__link(href="#")
                    | Американские матрасы
                    +icon('arrow_right', 'icon--gray mobile-menu__arrow')
            li.mobile-menu__subitem
                a.dark-text.mobile-menu__link(href="#")
                    | Элитные матрасы
                    +icon('arrow_right', 'icon--gray mobile-menu__arrow')
            li.mobile-menu__subitem
                a.dark-text.mobile-menu__link(href="#")
                    | Круглые матрасы
                    +icon('arrow_right', 'icon--gray mobile-menu__arrow')
            li.mobile-menu__subitem
                a.dark-text.mobile-menu__link(href="#")
                    | Наматрасники
                    +icon('arrow_right', 'icon--gray mobile-menu__arrow')
            li.mobile-menu__subitem
                a.dark-text.mobile-menu__link(href="#")
                    | Детские матрасы
                    +icon('arrow_right', 'icon--gray mobile-menu__arrow')