.accordion
  &__header
    position: relative
    cursor: pointer
    user-select: none

  &__header-icon
    position: absolute
    right: 0
    top: 7px
    height: 8px
    width: 5px
    transform: rotate(90deg)

  &__text
    font-weight: 500
    color: #212121

  &__main
    display: none

  &--active &__header-icon
    transform: rotate(-90deg)

  &--active &__main
    display: block

  &--mobile &__main
    display: block
    padding-top: 0

    &.footer__menu-group
      display: flex

  &--mobile &__header-icon
    display: none

  @media screen and (max-width: 767px)
    &--mobile &__main
      display: none

    &--mobile.accordion--active &__main
      display: block

    &--mobile &__header-icon
      display: inline-block