.bonus
  padding: 55px 0
  border-top: 1px solid #eeeeee

  &__login-btn
    margin-top: 16px
    text-decoration: underline dotted

  &__main
    display: flex
    align-items: flex-end
    justify-content: space-between

  &__info
    margin-top: 5px
  
  &__text
    margin-top: 10px
    font-size: 16px
    font-weight: 500

    &--dark
      margin-top: 18px
      color: #262626

  &__total-value
    margin-left: 10px
    font-size: 24px
    font-weight: 600
    color: $color-secondary

  &__value
    margin-left: 5px
    font-size: 16px
    color: $color-primary

  &__form
    margin: 20px 0 26px
    display: flex

  &__counter
    .counter__value
      height: 40px
      width: 64px

  &__form-submit
    margin-left: 16px

  &__img
    margin-right: -10px
    transform: translateY(-20px)