.configure
  display: flex
  flex-direction: column
  width: 528px
  background: #fff
  box-shadow: -2px 0 9px rgba(0, 0, 0, 0.1)
  overflow: hidden

  &__header
    padding: 40px 32px 0

  &__title
    padding-right: 18px
    font-size: 30px
    font-weight: 600
    color: #212121

  &__text
    margin-top: 10px

  &__list
    display: flex
    flex-wrap: wrap
    margin: 15px 24px -10px -8px
    padding-right: 24px
    padding-left: 32px
    max-height: calc(100vh - 180px)
    position: relative

  &__item
    margin: 10px 8px
    width: calc(100% / 12 * 4 - 16px)

    &--big
      border: 1px solid #eeeeee
      border-radius: 4px
      width: 100%
      cursor: pointer

      &.configure__item--active
        border-color: #212121

  &__item--big &__item-inf
    display: flex
    align-items: center
    justify-content: space-between

  &__item--active &__item-img-box
    border-color: #212121
    padding: 8px

  &__item--big &__item-img-box
    border: none
    padding: 0
    margin: 0 auto

  &__item--big &__item-name
    margin-top: 0

  &__item-content
    padding: 18px 24px

  &__item-img-box
    display: flex
    align-items: center
    justify-content: center
    width: 136px
    height: 136px
    border: 1px solid #eeeeee
    border-radius: 4px
    overflow: hidden

  &__item-img
    width: 100%

  &__item-btn
    width: 100%

  &__item-name
    margin-top: 10px
    display: block
    font-weight: 500
    color: #262626

  &__item-desc
    margin-top: 3px
    font-size: 12px
    font-weight: 500
    line-height: 1.33
    color: #7e7e7e

  &__item-price
    margin-top: 3px

  &__item-status
    font-size: 12px

    &:before
      margin-right: 4px

  .ps__rail-y
    z-index: 9

  &__footer
    margin-top: auto
    display: flex
    position: relative
    z-index: 11
    background: #fff
    padding: 16px 32px

  &__btn
    height: 48px
    padding: 0 51px
    font-size: 16px

    &:not(:last-child)
      margin-right: 16px

  @media screen and (max-width: 767px)
    width: 100%

    &__title
      font-size: 26px

    &__header
      padding: 24px 24px 0

    &__list
      padding-right: 16px
      margin-right: 16px
      padding-left: 16px
      max-height: calc(100vh - 200px)

      &.ps--active-y:before
        box-shadow: 0px 0px 25px 20px rgba(255, 255, 255, 0.9)

      &.ps--active-y:after
        box-shadow: 0px -10px 25px 20px rgba(255, 255, 255, 0.9)

    &__footer
      flex-direction: column
      padding: 16px

    &__btn
      font-size: 14px
      height: 40px

      &:not(:last-child)
        margin-right: 0
        margin-bottom: 16px

    &__close.popup__close
      top: 24px

  @media screen and (max-width: 480px)
    &__item
      width: calc(50% - 16px)

      &--big
        width: 100%

    &__header
      padding: 16px 16px 0
