.order-form
  &__title
    font-size: 20px
    font-weight: 600
    color: #212121
    margin-bottom: 12px
    margin-left: 120px

    &:not(:first-child)
      margin-top: 38px

  &__label
    display: flex

    &:not(:first-child)
      margin-top: 24px
  
  &__text
    margin-top: 10px
    flex: 0 0 auto
    width: 120px
    font-weight: 500
    color: #262626

  &__select
    height: 40px
    flex: 1 1 auto

    .choices__placeholder
      color: #7e7e7e

  &__checkbox
    margin-left: 120px

    &:not(:first-child)
      margin-top: 16px

  &__area
    resize: none
    height: 95px
    padding-top: 10px

  &__message
    margin-top: 20px
    margin-left: 120px
    line-height: 1.14

  &__accept
    margin-top: 20px

  &__submit
    margin-top: 24px
    width: 100%
    height: 48px
    font-size: 16px

  &__privacy
    margin-top: 20px
    font-size: 14px
    color: #262626