.price-filter
  width: 330px
  max-width: 100%

  &__fields
    display: flex
    justify-content: space-between

  &__group
    display: flex
    align-items: center

  &__field
    border: none
    border-bottom: 1px solid #262626
    color: #212121
    width: 88px
    text-align: center
    padding-bottom: 3px

  &__text
    color: #7e7e7e

  &__slider
    margin-top: 25px