.products
  position: relative
  padding-top: 25px

  &__title
    margin-bottom: 25px

    &--left
      text-align: left

  &__slider
    position: relative
    padding-bottom: 46px
    user-select: none

    .swiper-wrapper
      z-index: 11

    .swiper-slide
      height: auto
  
  &__slider-main
    margin: -15px -15px -150px
    padding: 15px 15px 150px

  &__slider-item
    &:hover
      position: absolute
      left: -7px
      right: -7px

  &__slider-pagination
    &.swiper-pagination-bullets.swiper-pagination-horizontal
      bottom: 105px

  &__slider-scrollbar
    &.swiper-scrollbar
      bottom: 129px
      width: calc(100% - 30px)
      left: 15px

  &__slider-next,
  &__slider-prev
    position: absolute
    z-index: 1
    top: calc(50% - 20px)
    transform: translateY(-50%)

  &__slider-next
    right: -48px

  &__slider-prev
    left: -48px

  &__slider-item
    height: 100%

    &:hover
      transform: translateY(-7px)

  &__sub-categories
    margin-top: 25px

  &__filters
    margin-top: 38px
    display: flex
    align-items: center
    justify-content: space-between

  &__sorts
    display: flex
    align-items: center

  &__list
    margin: -16px
    padding-top: 32px
    display: flex
    flex-wrap: wrap
  
  &__item
    width: calc(100% / 12 * 3 - 32px)
    margin: 16px

    &:hover
      margin-top: 9px
      margin-left: 9px
      margin-right: 9px
      width: calc(100% / 12 * 3 - 18px)

  &__footer
    margin-top: 32px
    display: flex
    align-items: center
    justify-content: space-between

  &__more-btn
    padding: 0 33px