.social-links
  &__list
    margin: -4px
    display: flex
    align-items: center

  &__item
    margin: 4px

  &__link
    width: 40px
    height: 40px
    display: block

  &__icon
    fill: #adadad
    width: 100%
    height: 100%
    transition: fill .3s

    &:hover
      fill: $color-primary
      