.table
  width: 100%
  border-collapse: collapse
  border: 1px solid #efefef

  th
    background: #f4f3f3
    font-weight: 500
    text-align: left
    height: 54px
    line-height: 54px

    &:first-child
      padding-left: 31px
      width: 320px

    &:last-child
      width: 150px

  td
    font-size: 14px
    color: #7e7e7e
    border-top: 1px solid #efefef
    height: 54px
    line-height: 54px

    &:first-child
      padding-left: 31px
      width: 320px

    &:last-child
      width: 150px

    &.table__plus
      color: #2bb334

    &.table__minus
      color: #f00