include ../_mixins.pug

block vars

doctype html
html(lang="ru")
    head
        title
            block title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='format-detection' content='telephone=no')
        link(rel='shortcut icon' href='assets/favicon.png')
        link(rel='stylesheet' href='assets/css/styles.css?v=' + Math.round(Math.random() * 100000000))
    body.body

        if header_name === 'order'
            include ../partials/_header-order.pug
        else if header_name === 'lk'
            include ../partials/_header-lk.pug
        else
            include ../partials/_header.pug
        
        block content

        if !hide_footer
            include ../partials/_footer.pug

        block modals
	    
        include ../modals/_login.pug
        include ../modals/_catalog-menu.pug
        include ../modals/_mobile-menu.pug
        include ../modals/_bottom-menu.pug
        include ../modals/_profile-menu.pug

        block scripts
        script(src='assets/js/vendors.min.js')
        script(src='assets/js/app.js?v=' + Math.round(Math.random() * 100000000))